.main {
  padding-bottom: ($padding-base-vertical*8);
  a {
    text-decoration: underline;
  }
  a:hover, a:focus {
    text-decoration: none;
  }
  a.btn {
    text-decoration: none;
  }
}

.content {
  > .actions {
    margin: ($padding-base-vertical * 5) 0;
    line-height: ($line-height-computed * 3);
  }
  .alert {
    margin: $line-height-computed 0;
  }
}

p.actions {
  line-height: ($line-height-small * 2);
  @media (min-width:$screen-xs-min) {
    line-height: $line-height-base;
  }
}

.double-spaced {
  margin: $line-height-computed 0;
}

.facets {
  li.selected {
    padding-right: 40px;
    position: relative;
  }
  a {
    cursor: pointer;
  }
  .clr-filter {
    position: absolute;
    top: 9px;
    right: 0;
    color: $tomato;
    cursor: pointer;
    font-size: 18px;
  }
}

.gmap {
  height: 500px;
  margin-bottom: $line-height-computed;
  border: 1px solid $gray-light;
  border-radius: $border-radius-base;
}

.hero-image {
  max-width: 450px;
  margin: $line-height-computed auto 0;
}

.interruption-label,
.interruption-date {
  display: block;
  @media (min-width:$screen-xs-min) {
    display: inline-block;
    white-space: nowrap;
  }
}
.interruption-label {
  @media (min-width:$screen-xs-min) {
    width: 150px;
    font-weight: 600;
  }
}

.license {
  margin: $line-height-computed 0 ($line-height-computed * 2);
  @media (min-width:$screen-xs-min) {
    padding-left: 100px;
    .cc-license-icon {
      float: left;
      margin-left: -100px;
    }
  }
}

.cc-license-icon {
  display: block;
  margin: $line-height-computed 0 ($line-height-computed / 2);
  text-align: center;
  @media (min-width:$screen-xs-min) {
    margin-top: 0;
  }
}

.new-items-selector {
  margin-bottom: ($line-height-computed / 2);

  .btn-group {
    margin: 0 ($line-height-computed / 2) ($line-height-computed / 2) 0;
  }
}

.new-items-data,
.new-items-fail {
  display: none;
}


.page-spotlight {
  text-align: center;
  padding-top: ($padding-base-vertical * 4);
}

.related-links {
  clear: left;
  position: relative;
  background-color: $gray-lighter;
  padding: $padding-large-horizontal;
  border-radius: $border-radius-base;
  margin: ($line-height-computed * 1.5) 0 0;

  h2 {
    font-size: $font-size-h4;
    margin-top: 0;
  }

  li {
    margin: 0 0 ($line-height-computed / 2);
  }
}

.table.table-bordered {
  width: auto;

  th {
    background-color: $gray-faint;
    font-weight: $bold;
  }
}
.table-centered {
  td {
    text-align: center;
  }
}

.list-as-columns {
  margin-left: 0;
  padding-left: 0;
  columns: 260px 3;
  column-gap: $line-height-large;
  list-style: none;
}

/*  Property page type specific styles */
.opening-hours > span {
  display: inline-block;
  width: 95px;
}
