.feature-event  {
  .event-time {
    padding-right: 0.25em;
  }
}
.event-date  {
  color: $gray-light;
}

.more-events {
  .list-group-item {
    .event-date,
    .event-title,
    .event-location,
    .event-action {
      display: block;
    }
  }
  @media (min-width:$screen-sm-min) {
    .list-group-item {
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
    }
    .event-date {
      flex: 0 0 255px;
    }
    .event-title{
      flex: 1 1 auto;
      padding-right: 10px;
    }
    .event-location {
      flex: 0 0 145px;
    }
    .event-action {
      flex: 0 0 85px;
      text-align: right;
    }
    .dlv-search .form-inline .input-group > .form-control {
      width: 300px;
    }
  }
}



.toggle-events {
  padding-top: $padding-large-vertical;
  // flex-grow: 1;
  // flex-shrink: 0;
  // flex-basis: auto;
  flex: 1 0 auto;
  text-align: right;
}

.event-time {
  text-transform: lowercase;
}

.event-detail {
  position: relative;
  background-color: $gray-faint;
  padding: $padding-large-horizontal;
  border-radius: $border-radius-base;
  margin-bottom: $padding-large-horizontal;
  .actions {
    @media (min-width:$screen-xs-min) {
      float: right;
      margin-left: $padding-large-horizontal;
    }
  }
}

.event-when, .event-cost, .event-where {
  margin-left: 60px;
}
.event-where .btn {
  display: table;
  @media (min-width: $screen-xs-min) {
    display: inline;
    position: absolute;
    right: 1em;
  }
}

.start, .finish, .cost, .where {
  display: inline-block;
  width: 60px;
  margin-left: -60px;
}

.actions > .btn {
  width: 100%;
  @media (min-width:$screen-xs-min) {
    width: auto;
  }
}

.event-map {
  margin-top: 12px;
  img {
    border: 1px solid $gray-lighter;
    border-radius: $border-radius-base;
    max-width: 100%
  }
}
