.expando {
  border: 1px solid $gray-lighter;
  border-radius: $border-radius-base;

  h2 {
    border-radius: 0 0 $border-radius-base $border-radius-base;
    border-top: 1px dashed $gray-lighter;
    font-size: ($font-size-base * 1.5);
    line-height: $line-height-base;
    margin: 0;
    padding: $padding-base-horizontal $padding-base-horizontal $padding-base-horizontal ($padding-base-horizontal * 3);
    a {
      text-decoration: none;
    }
  }

  h2:first-child {
    border-radius: $border-radius-base 0 0;
    border-top: none;
  }

  a.toggle:before {
    content: "\e026";
    font-family: 'icomoon';
    font-size: 0.5em;
    color: #999;
    margin-left: -($padding-base-horizontal * 2); //-24px
    margin-right: $padding-base-horizontal; //12px
    text-decoration: none;
    vertical-align: middle;
  }

  a.toggle.collapsed:before {
    content: '\e024';
  }

  .collapse.in {
    padding: 0 $padding-base-horizontal 0 ($padding-base-horizontal * 3);
  }

  .collapse:last-child {
    border-radius: 0 0 $border-radius-base;
  }

  h3 {
    font-size: $font-size-h4;
    margin-bottom: 0;
    font-weight: $bold;
  }

  ul.related-docs {
    margin: 0 0 24px 0;
    margin: 0 0 1.5rem 0;
    padding: 0;
    list-style: none;
  }
}
