footer {
  background: $gray-dark;
  background-image: linear-gradient(to bottom, $gray-dark, $gray-darker);
  padding-top: $padding-large-horizontal*1.5;
  padding-bottom: $padding-large-horizontal*1.5;
  color: $gray-lighter;

  a {
    color: $lightblue;
  }
  a:hover,
  a:focus {
    color: $powderblue;
  }
  > .container-fluid.page-wrap {
    padding: 0 1em;
  }
  .ssc-logo {
    text-align: right;
  }
  .nav-tabs, .tab-pane {
    border-color: $gray;
  }
  .nav-tabs a:hover,
  .nav-tabs a:focus {
    background-color: $gray;
  }
  .nav-tabs > .active > a,
  .nav-tabs > .active > a:hover,
  .nav-tabs > .active > a:focus {
    background-color: transparent;
    border-color: $gray;
    border-bottom-color: $gray-dark;
    color: $gray-lighter;
  }
  .tab-pane {
    padding: $padding-base-horizontal $padding-large-horizontal;
    border: 1px solid $gray;
    border-width: 0px 1px 1px 1px;
    border-radius: 0 0 $border-radius-base $border-radius-base;
  }
  .tab-content {
    margin-bottom: 12px;
    margin-bottom: 0.75rem;
  }
}
