.radio-group {
  .table td {
    border-top-style: none;
  }
  td.radio {
    display: inline-block;
  }
  .matrix td.radio {
    display: table-cell;
  }
}

.checkbox-group {
  .table td {
    border-top-style: none;
  }
  td.checkbox {
    display: inline-block;
  }
  .matrix td.checkbox {
    display: table-cell;
  }
}
