header {
  padding: ($padding-large-vertical*2) 0;
}

.title-logo{
  width: 307px;
  height: 36px;
  background-image: url('../img/library-logo.gif');
  @include text-hide();
  margin: 0 auto $font-size-base;
  @media screen and (min-width: $screen-sm-min) {
    margin: 0;
  }
}

.ssc-link {
  font-size: $font-size-base;
  text-align: center;
  @media screen and (min-width: $screen-sm-min) {
    text-align: left;
  }
}

.catalog {
  .catalog-search {
    @media screen and (min-width: $screen-sm-min) {
      float: right;
      text-align: right;
    }
    @media screen and (min-width: $screen-lg-min) {
      margin: ($padding-large-vertical*2) 0 0;
    }
    input[type="text"] {
      width: 100%;
      @media screen and (min-width: $screen-sm-min) {
        width: 250px;
      }
    }
    label {
      color: $gray-light;
      font-size: 1.25em;
      margin: 0 0.4em;
    }
  }// .catalog-search
  .catalog-extras {
    clear: right;
    line-height: 2em;
    text-align: center;
    @media screen and (min-width: $screen-sm-min) {
      text-align: right;
    }

    a {
      margin-left: 16px;
      margin-left: 1rem;
    }
    a:hover, a:focus, a:active {
      text-decoration: none;
    }
  } // .catalog-extras
}

.navbar {
  margin-bottom: 0;
}
.navbar-inverse .brand,
.navbar-inverse .nav > li > a {
  color: $gray-lighter;
}
