/*  Styles for the 4 columns of featured links on the home page  */
.home-spotlight {
  h2 {
    color: $gray-light;
    font-size: $font-size-h4;
    line-height: $line-height-base;
    margin-bottom: 0;
  }
  li {
    font-size: $font-size-h4;
    a {
      text-decoration: none;
      &:hover,
      &:focus {
        text-decoration: underline;
      }
    }
  }
  .event-date {
    display: block;
    font-size: $font-size-base;
  }
}

#creditfooter {
  display: none;
}
