.thumbnails {
  margin-bottom: 0;
}

.thumbnail {
  margin-bottom: $line-height-computed;
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  li {
    padding: 9px;
    padding: 0.5625rem;
    border-top: 1px solid $gray-lighter;
  }
  li:first-child {
    border-top: none;
  }
  .more li:first-child,
  .feedburnerFeedBlock li:first-child {
    border-top: 1px solid $gray-lighter;
  }

  .thumbnail-footer {
  padding: 9px;
  padding: 0.5625rem;
  border-top: 1px solid $gray-lighter;
  text-align: right;
  }

  .caption {
    h2, h3, h4 {
      font-size: $font-size-h4;
      line-height: ($font-size-h4 * $line-height-base);
      font-weight: 400;
      margin: 0;
    }
    > p {
      margin-bottom: 0;
    }
    .btn {
      margin-top: 9px;
      margin-top: 0.5625rem;
    }
  }
}

@media screen and (min-width: $screen-xs-min) {
  .thumbnail li .actions{
    text-align: right;
  }
}

@media screen and (min-width: $screen-sm-min) {
  .thumbnail {
    margin-bottom: 0;
  }
}
