/* classes to be added from WYSIWYG style menu */

.appstore {
  width: 105px;
}

.loading {
  display: none;
  background: transparent url('../img/loading.gif') no-repeat 20px 32px;
  min-height: 128px;
}

.video-embed {
  margin: $line-height-computed 0;
}

.rss[data-icon] {
  color: $orange;
}
