      <h2>Single Sentence Alerts</h2>

      <!-- Information Alert (navy) -->
      <p class="alert alert-info"><strong data-icon="&#xe023;">Important</strong>: Enter your text here...</p>

      <!-- danger alert (red) -->
      <p class="alert alert-danger"><strong data-icon="&#xe023;">Important</strong>: Enter your text here...</p>

      <!-- success alert (light blue) -->
      <p class="alert alert-success"><strong data-icon="&#xe023;">Important</strong>: Enter your text here...</p>


      <h2>Multiple Paragraph Alerts</h2>

      <!-- Information Alert (navy) -->
      <div class="alert alert-info">
        <h2 class="h4" data-icon="&#xe023;">Important</h2>
        <p>1st paragraph text... </p>
        <p>2nd paragraph text etc...</p>
      </div>

      <!-- danger alert (red) -->
      <div class="alert alert-danger">
        <h2 class="h4" data-icon="&#xe023;">Important</h2>
        <p>1st paragraph text... </p>
        <p>2nd paragraph text etc...</p>
      </div>

      <!-- success alert (light blue) -->
      <div class="alert alert-success">
        <h2 class="h4" data-icon="&#xe023;">Important</h2>
        <p>1st paragraph text... </p>
        <p>2nd paragraph text etc...</p>
      </div>


      <h2>Alerts with links</h2>

      <!-- Information Alert (navy) -->
      <p class="alert alert-info"><strong data-icon="&#xe023;">Important</strong>: Enter your text here and <a href="#" class="alert-link">add a link</a>...</p>

      <!-- danger alert (red) -->
      <p class="alert alert-danger"><strong data-icon="&#xe023;">Important</strong>: Enter your text here and <a href="#" class="alert-link">add a link</a>...</p>

      <!-- success alert (light blue) -->
      <p class="alert alert-success"><strong data-icon="&#xe023;">Important</strong>: Enter your text here and <a href="#" class="alert-link">add a link</a>...</p>
