      <div id="alerts" class="alert alert-danger alert-dismissible fade">
        <a class="close" data-dismiss="alert"><span data-icon="&#xe028;"></span></a>
        <p><span data-icon="&#xe023;"> Warning:</span> This is a demo site for Sutherland Shire Council Libraries website templates. If you're after the actual libray website, clickety, click! 
          <a class="btn btn-xs btn-danger" href="http://www.sutherlandshire.nsw.gov.au/community/library">Get Real Here</a></p>
        <p class="closure-notice"><span data-icon="&#xe023;"></span> All Sutherland Shire Libraries are closed Anzac Day public holiday - <span class="event-starts">25 Apr 2014</span> <span class="event-to">until</span> <span class="event-ends">25 Apr 2014</span> <a href="thumbnail.html" class="btn btn-xs btn-danger">details...</a></p>
      </div>
