<li class="list-group-item">
  <div class="audio-title"><h3><a href="http://www.sutherlandshire.nsw.gov.au/Community/Library/Local-Studies/Oral-Histories/Phyllis-Farleigh">Phyllis Farleigh</a></h3></div>
  <div class="audio-summary"><p>Before marrying Ray Farleigh, Phyllis Stroud was crowned 'Surf Queen' at Cronulla in 1927. Her family was heavily involved in the Cronulla and North Cronulla Surf Clubs.</p></div>
  <div class="audio-action">
    <a class="btn btn-default btn-sm js-ga-tracking" data-ga-category="oral-history-listen" data-ga-action="click" data-ga-label="Dorothy Nixon" href="http://www.sutherlandshire.nsw.gov.au/Community/Library/Local-Studies/Oral-Histories/Phyllis-Farleigh"><span data-icon="&#xe603;"></span> Listen Now</a>
  </div>
</li>
<li class="list-group-item">
  <div class="audio-title"><h3><a href="http://www.sutherlandshire.nsw.gov.au/Community/Library/Local-Studies/Oral-Histories/Edmund-Ted-Smith">Edmund (Ted) Smith</a></h3></div>
  <div class="audio-summary"><p>In 1953 Ted Smith opened a pharmacy with his soon-to-be-wife Elsie in Raliway Crescent Jannali. What had begun as a short term enterprise in Jannali lasted until the Smiths' retirement in 1999.</p></div>
  <div class="audio-action">
    <a class="btn btn-default btn-sm js-ga-tracking" data-ga-category="oral-history-listen" data-ga-action="click" data-ga-label="Edmund Ted Smith" href="http://www.sutherlandshire.nsw.gov.au/Community/Library/Local-Studies/Oral-Histories/Edmund-Ted-Smith"><span data-icon="&#xe603;"></span> Listen Now</a>
  </div>
</li>
<li class="list-group-item">
  <div class="audio-title"><h3><a href="http://www.sutherlandshire.nsw.gov.au/Community/Library/Local-Studies/Oral-Histories/Alistair-Gardner">Alistair Gardner</a></h3></div>
  <div class="audio-summary"><p>Alistair Gardner's mother came to Sutherland in the very early days in 1887. Alastair himself was born in Sutherland in June 1928. In this interview he talks of his life growing up in the area.</p></div>
  <div class="audio-action">
    <a class="btn btn-default btn-sm js-ga-tracking" data-ga-category="oral-history-listen" data-ga-action="click" data-ga-label="Alistair Gardner" href="http://www.sutherlandshire.nsw.gov.au/Community/Library/Local-Studies/Oral-Histories/Alistair-Gardner"><span data-icon="&#xe603;"></span> Listen Now</a>
  </div>
</li>
<li class="list-group-item">
  <div class="audio-title"><h3><a href="http://www.sutherlandshire.nsw.gov.au/Community/Library/Local-Studies/Oral-Histories/Bill-Barnidge">Bill-Barnidge</a></h3></div>
  <div class="audio-summary"><p>After WWI Bill's family moved to a house on the corner of Auburn Street and what is now the Princes Highway, when there were only 3 or 4 houses between them & the dozen or so shops at Sutherland.</p></div>
  <div class="audio-action">
    <a class="btn btn-default btn-sm js-ga-tracking" data-ga-category="oral-history-listen" data-ga-action="click" data-ga-label="Bill Barnidge" href="http://www.sutherlandshire.nsw.gov.au/Community/Library/Local-Studies/Oral-Histories/Bill-Barnidge"><span data-icon="&#xe603;"></span> Listen Now</a>
  </div>
</li>
<li class="list-group-item">
  <div class="audio-title"><h3><a href="http://www.sutherlandshire.nsw.gov.au/Community/Library/Local-Studies/Oral-Histories/Dorothy-Nixon">Dorothy Nixon</a></h3></div>
  <div class="audio-summary"><p>Dorothy Nixon was born in 1926 and moved to 'Bayview' in 1942, which had previously been an early hotel at Yowie Bay.</p></div>
  <div class="audio-action">
    <a class="btn btn-default btn-sm js-ga-tracking" data-ga-category="oral-history-listen" data-ga-action="click" data-ga-label="Dorothy Nixon" href="http://www.sutherlandshire.nsw.gov.au/Community/Library/Local-Studies/Oral-Histories/Dorothy-Nixon"><span data-icon="&#xe603;"></span> Listen Now</a>
  </div>
</li>
<li class="list-group-item">
  <div class="audio-title"><h3><a href="http://www.sutherlandshire.nsw.gov.au/Community/Library/Local-Studies/Oral-Histories/John-Marjory-Crowley">John &amp; Marjory Crowley</a></h3></div>
  <div class="audio-summary"><p>John and Marj Crowley built their house in Caringbah in the 1950s, when it was 'all bush'. "It was just heaven. When I had the children I used to have to push them through the mud up to Caringbah".</p></div>
  <div class="audio-action">
    <a class="btn btn-default btn-sm js-ga-tracking" data-ga-category="oral-history-listen" data-ga-action="click" data-ga-label="John Marjory Crowley" href="http://www.sutherlandshire.nsw.gov.au/Community/Library/Local-Studies/Oral-Histories/John-Marjory-Crowley"><span data-icon="&#xe603;"></span> Listen Now</a>
  </div>
</li>
<li class="list-group-item">
  <div class="audio-title"><h3><a href="http://www.sutherlandshire.nsw.gov.au/Community/Library/Local-Studies/Oral-Histories/Harold-Harry-Mondel">Harry Mondel</a></h3></div>
  <div class="audio-summary"><p>Harry Mondel was born on 12 October 1918. In this interview Harry recollects the early days of the Shire during the depression.</p></div>
  <div class="audio-action">
    <a class="btn btn-default btn-sm js-ga-tracking" data-ga-category="oral-history-listen" data-ga-action="click" data-ga-label="Harry Mondel" href="http://www.sutherlandshire.nsw.gov.au/Community/Library/Local-Studies/Oral-Histories/Harold-Harry-Mondel"><span data-icon="&#xe603;"></span> Listen Now</a>
  </div>
</li>
