<!-- Modal -->
<div class="modal fade" id="macquarieDiary" tabindex="-1" role="dialog" aria-labelledby="modalLabel">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <span class="close" data-dismiss="modal" aria-label="Close">&times;</span>
        <h4 class="modal-title" id="modalLabel">Lachlan Macquarie's Diary entry from 19 September 1816</h4>
      </div>
      <div class="modal-body"><img alt="Lachlan Macquarie's Diary entry from 19 September 1816" src="/files/content/89624201-6ac7-4465-b613-b070a15478da/macquarie-diary.jpg"></div>
      <div class="modal-footer">
        <a class="btn btn-default" data-dismiss="modal">Close</a>
      </div>
    </div>
  </div>
</div>
<!-- /modal -->

    <h1>Blog Post with Modal and Embedded Google Map</h1>

    <div id="map" class="gmap"></div>

    <div id="thumnail" class="row">
      <div class="col-sm-3 col-lg-2">
        <figure class="text-center double-spaced data-toggle="modal" data-target="#macquarieDiary"">
          <img alt="Thumbnail: Lachlan Macquarie's Diary entry from 19 September 1816" src="/files/content/018612ca-9db4-42ef-8628-4b45679c916e/macquarie-diary-thm.jpg" data-toggle="modal" data-target="#macquarieDiary">
          <figcaption><small> Lachlan Macquarie's Diary entry from 19 September 1816.</small></figcaption>
        </figure>
      </div>
      <div class="col-sm-9 col-lg-10">
        <p>Markers have been used to indicate intervals of road distance since, it is said, around 150BC when a Roman governor divided the roads &lsquo;into miles of near eight furlongs each, and set up pillars of stone to mark the divisions.&rsquo; A similar
          system was first introduced to New South Wales during the governorship of Lachlan Macquarie. On 19 September 1816, Macquarie wrote in his diary that he had contracted the convict stonemason, Edward Cureton, &lsquo;to erect a very handsome
          <a href="https://www.flickr.com/photos/stephiib/48800347367/">Stone Obelisk</a> in the Center of Macquarie Place, as an Ornament to this Part of the Town, and also for the purpose of measuring the miles from to [sic] all the interior parts of the Colony.&rsquo; Although the obelisk (designed by architect
            Francis Greenway) wasn&rsquo;t completed until 1818, dozens of milestones were already in place soon after Macquarie&rsquo;s directive. The first was positioned on the corner of George and Liverpool Streets, whilst subsequent markers were
            stationed out along the Parramatta, Liverpool and South Head Roads.</p>
      </div>
    </div>
    <!--/row-->
  </div>
</section>
