<div class="owl-carousel">
  <div class="item">
    <a target="_blank" title="Global megatrends : seven patterns of change shaping our future" href="http://0-ssc.csiro.patron.eb20.com.webpac.sutherlandshire.nsw.gov.au/Collections/ViewBook/c72b999b-584a-4147-a222-a62c64074a00">
      <img src="http://covers.ebooks.com/002/0020/002036/002036004/002036004.jpg" alt="Global megatrends : seven patterns of change shaping our future" />
      <p class="sr-only">Global Megatrends : seven patterns of change shaping our future</p>
    </a>
  </div>
  <div class="item">
    <a target="_blank" title="The explainer : from déjà vu to why the sky is blue, and other conundrums" href="http://0-ssc.csiro.patron.eb20.com.webpac.sutherlandshire.nsw.gov.au/Collections/ViewBook/3e39443c-5dc7-4055-be3f-6f223cba0ba9">
      <img src="http://covers.ebooks.com/001/0014/001426/001426944/001426944.jpg" alt="The explainer : from déjà vu to why the sky is blue, and other conundrums" />
      <p class="sr-only">The Explainer : from déjà vu to why the sky is blue, and other conundrums</p>
    </a>
  </div>
  <div class="item">
    <a target="_blank" title="Finding Australian birds : a field guide to birding locations" href="http://0-ssc.csiro.patron.eb20.com.webpac.sutherlandshire.nsw.gov.au/Collections/ViewBook/77b5edee-0bf6-450b-8bb0-cf4153302c66">
      <img src="http://covers.ebooks.com/001/0016/001691/001691095/001691095.jpg" alt="Finding Australian birds : a field guide to birding locations" />
      <p class="sr-only">Finding Australian Birds : a field guide to birding locations</p>
    </a>
  </div>
  <div class="item">
    <a target="_blank" title="Australasian Nature Photography 10: ANZANG Tenth Collection" href="http://0-ssc.csiro.patron.eb20.com.webpac.sutherlandshire.nsw.gov.au/Collections/ViewBook/7622ce28-fbad-4318-aa01-cda75395b1bf">
      <img src="http://covers.ebooks.com/001/0014/001426/001426943/001426943.jpg" alt="Australasian Nature Photography 10: ANZANG Tenth Collection" />
      <p class="sr-only">Australasian Nature Photography</p>
    </a>
  </div>
  <div class="item">
    <a target="_blank" title="Essential Bushfire Safety Tips" href="http://0-ssc.csiro.patron.eb20.com.webpac.sutherlandshire.nsw.gov.au/Collections/ViewBook/6e1f5347-08f6-4b01-ad6a-117c91261fb9">
      <img src="http://covers.ebooks.com/000/0009/000988/000988917/000988917.jpg" alt="Essential Bushfire Safety Tips" />
      <p class="sr-only">Essential Bushfire Safety Tips</p>
    </a>
  </div>
  <div class="item">
    <a target="_blank" title="Gardens for All Seasons" href="http://0-ssc.csiro.patron.eb20.com.webpac.sutherlandshire.nsw.gov.au/Collections/ViewBook/60ce14f4-f856-4ad7-85d2-13de8d5426cc">
      <img src="http://covers.ebooks.com/000/0009/000950/000950985/000950985.jpg" alt="Gardens for All Seasons" />
      <p class="sr-only">Gardens for All Seasons</p>
    </a>
  </div>
  <div class="item">
    <a target="_blank" title="Australia's Amazing Kangaroos: Their Conservation, Unique Biology and Coexistence with Humans" href="http://0-ssc.csiro.patron.eb20.com.webpac.sutherlandshire.nsw.gov.au/Collections/ViewBook/5141a9ce-6163-4e7d-8aa9-f66e04443ba8">
      <img src="http://covers.ebooks.com/000/0009/000977/000977966/000977966.jpg" alt="Australia's Amazing Kangaroos: Their Conservation, Unique Biology and Coexistence with Humans" />
      <p class="sr-only">Australia's Amazing Kangaroos: Their Conservation, Unique Biology and Coexistence with Humans</p>
    </a>
  </div>
  <div class="item">
    <a target="_blank" title="The Owner Builder" href="http://0-ssc.csiro.patron.eb20.com.webpac.sutherlandshire.nsw.gov.au/Collections/ViewBook/2656b590-c545-4219-bd23-bc611a16157d">
      <img src="http://covers.ebooks.com/001/0010/001048/001048558/001048558.jpg" alt="The Owner Builder" />
      <p class="sr-only">The Owner Builder</p>
    </a>
  </div>
  <div class="item">
    <a target="_blank" title="Walks, Tracks and Trails of New South Wales" href="http://0-ssc.csiro.patron.eb20.com.webpac.sutherlandshire.nsw.gov.au/Collections/ViewBook/45d11a5a-1424-425d-952f-4f975ac9365c">
      <img src="http://covers.ebooks.com/001/0010/001036/001036192/001036192.jpg" alt="Walks, Tracks and Trails of New South Wales" />
      <p class="sr-only">Walks, Tracks and Trails of NSW</p>
    </a>
  </div>
  <div class="item">
    <a target="_blank" title="Australian Lizards: A Natural History" href="http://0-ssc.csiro.patron.eb20.com.webpac.sutherlandshire.nsw.gov.au/Collections/ViewBook/3550f7a8-6b2b-420d-8b84-560384da02f6">
      <img src="http://covers.ebooks.com/001/0010/001035/001035820/001035820.jpg" alt="Australian Lizards: A Natural History" />
      <p class="sr-only">Australian Lizards: A Natural History</p>
    </a>
  </div>
</div><!-- /owl-carousel -->
