<div class="book-club-list">
  <div class="book-club">
    <p><img src="http://www.sutherlandshire.nsw.gov.au/files/assets/website/images/subsites/library/books/book-clubs/washington-square.jpg?h=250" alt="Washington Square"></p>
    <h3 class="h4"><a href="http://www.sutherlandshire.nsw.gov.au/Community/Library/Services/Books-Reading/Book-Clubs/Sutherland-Classics-Open-Book-Group">Sutherland Library Classics Book Group</h3></a>
    <p>Tuesday, 3 Apr 2018 at 6:30pm</p>
  </div>
  <div class="book-club">
    <p><img src="http://www.sutherlandshire.nsw.gov.au/files/assets/website/images/subsites/library/books/book-clubs/jasper-jones.jpg?h=250" alt="Jasper Jones"></p>
    <h3 class="h4"><a href="http://www.sutherlandshire.nsw.gov.au/Community/Library/Services/Books-Reading/Book-Clubs/Caringbah-Library-Men%E2%80%99s-Open-Book-Group">Caringbah Library Men's Book Group</a></h3>
    <p>Wednesday, 11 Apr 2018 at 10:00am</p>
  </div>
  <div class="book-club">
    <p><img src="http://www.sutherlandshire.nsw.gov.au/files/assets/website/images/subsites/library/books/book-clubs/comomnwealth.jpg?h=250" alt="Commonwealth"></p>
    <h3 class="h4"><a href="http://www.sutherlandshire.nsw.gov.au/Community/Library/Services/Books-Reading/Book-Clubs/Cronulla-Library-Open-Book-Group">Cronulla Library Open Book Group</a></h3>
    <p>Monday, 9 Apr 2018 at 2:00pm</p>
  </div>
  <div class="book-club">
    <p><img src="http://www.sutherlandshire.nsw.gov.au/files/assets/website/images/subsites/library/books/book-clubs/daughters-of-the-bride.jpg?h=250" alt="daughter's of the bride"></p>
    <h3 class="h4"><a href="http://www.sutherlandshire.nsw.gov.au/Community/Library/Services/Books-Reading/Book-Clubs/Sylvania-Romance-Readers-Open-Book-Group">Sylvania Library Romance Book Group</a></h3>
    <p>Thursday, 19 Apr 2018 at 2:00pm</p>
  </div>
  <div class="book-club">
    <p><img src="http://www.sutherlandshire.nsw.gov.au/files/assets/website/images/subsites/library/books/book-clubs/i-found-you.jpg?h=250" alt="I found you"></p>
    <h3 class="h4"><a href="http://www.sutherlandshire.nsw.gov.au/Community/Library/Services/Books-Reading/Book-Clubs/Menai-Crime-Open-Book-Group">Menai Library Crime Book Group</a></h3>
    <p>Thursday, 12 Apr 2018 at 2:00pm</p>
  </div>
  <div class="book-club">
    <p><img src="http://www.sutherlandshire.nsw.gov.au/files/assets/website/images/subsites/library/books/book-clubs/nutshell.jpg?h=250" alt="nutshell"></p>
    <h3 class="h4"><a href="http://www.sutherlandshire.nsw.gov.au/Community/Library/Services/Books-Reading/Book-Clubs/Engadine-Crime-Readers-Open-Book-Group">Engadine Library Crime Book Group</a></h3>
    <p>Tuesday, 10 Apr 2018 at 2:00pm</p>
  </div>
</div>
