<div class="col-xs-6 col-sm-4 col-md-3">
  <div class="thumbnail feature-item feature-event">
    <a href="#"><img alt="placeholder" src="//lorempixel.com/600/400/people"></a>
    <div class="caption">
      <span class="event-date">Thursday, 16 Jul 2015 at <span class="event-time">2:00PM</span></span>
      <h2><a href="#">Get Ready For Spring</a></h2>
      <p>Get your garden ready for the arrival of spring!</p>
      <p>
        <a class="btn btn-success js-ga-tracking" data-ga-category="cta-button-bookevent" data-ga-action="click" data-ga-label="Book Now" href="#" target="_blank">Book Now</a>
        <a class="btn btn-default" href="#">Learn More</a></p>
    </div><!-- /caption -->
  </div><!-- /feature-event -->
</div>

<div class="col-xs-6 col-sm-4 col-md-3">
  <div class="thumbnail feature-item feature-event">
    <a href="#"><img alt="Placeholder" src="//lorempixel.com/600/400/abstract"></a>
    <div class="caption">
      <span class="event-date">Saturday, 18 Jul 2015 at <span class="event-time">9:30AM</span></span>
      <h2><a href="#">Upcycled Tea Cup Soy Candles</a></h2>
      <p>Bring your vintage cup and saucer sets and upcycle one into an environmentally friendly soy candle and another into a pincushion.</p>
      <p>
        <a class="btn btn-success js-ga-tracking" data-ga-category="cta-button-bookevent" data-ga-action="click" data-ga-label="Book Now" href="#" target="_blank">Book Now</a>
        <a class="btn btn-default" href="#">Learn More</a></p>
    </div><!-- /caption -->
  </div><!-- /feature-event -->
</div>

<div class="col-xs-6 col-sm-4 col-md-3">
  <div class="thumbnail feature-item feature-event">
    <a href="#"><img alt="Placeholder" src="//lorempixel.com/600/400/cats"></a>
    <div class="caption">
      <span class="event-date">Tuesday, 21 Jul 2015 at <span class="event-time">10:00AM</span></span>
      <h2><a href="#">Toddler Behaviour and Development</a></h2>
      <p>A child and family health expert will speak about toddler behaviour and development.</p>
      <p>
        <a class="btn btn-success js-ga-tracking" data-ga-category="cta-button-bookevent" data-ga-action="click" data-ga-label="Book Now" href="#" target="_blank">Book Now</a>
        <a class="btn btn-default" href="#">Learn More</a></p>
    </div><!-- /caption -->
  </div><!-- /feature-event -->
</div>
