<li class="js-General list-group-item">
  <div class="event-date">Tuesday, 11 Aug 2015 at <span class="event-time">9:30PM</span></div>
  <div class="event-title"><a href="http://www.sutherlandshire.nsw.gov.au/Community/Library/Whats-On/">House History Workshop</a></div>
  <div class="event-location">Sutherland Library</div>
  <div class="event-action">
    <span class="btn btn-danger btn-xs">Booked Out</span>
  </div>
</li>
<li class="js-eventPattern list-group-item">
  <div class="event-date">Wednesday, 12 Aug 2015 at <span class="event-time">10:30AM</span></div>
  <div class="event-title"><a href="http://www.sutherlandshire.nsw.gov.au/Community/Library/Services/Kids-Parents/Storytime/">Storytime Sylvania (Preschool)</a></div>
  <div class="event-location">Sylvania Library</div>
  <div class="event-action"></div>
</li>
<li class="js-General list-group-item">
  <div class="event-date">Tuesday, 11 Aug 2015 at <span class="event-time">9:30PM</span></div>
  <div class="event-title"><a href="http://www.sutherlandshire.nsw.gov.au/Community/Library/Whats-On/">House History Workshop</a></div>
  <div class="event-location">Sutherland Library</div>
  <div class="event-action">
    <span class="btn btn-danger btn-xs">Booked Out</span>
  </div>
</li>
<li class="js-eventPattern list-group-item">
  <div class="event-date">Wednesday, 12 Aug 2015 at <span class="event-time">10:30AM</span></div>
  <div class="event-title"><a href="http://www.sutherlandshire.nsw.gov.au/Community/Library/Services/Kids-Parents/Storytime/">Storytime Menai (Preschool)</a></div>
  <div class="event-location">Menai Library</div>
  <div class="event-action"></div>
</li>
<li class="js-General list-group-item">
  <div class="event-date">Wednesday, 12 Aug 2015 at <span class="event-time">6:30PM</span></div>
  <div class="event-title"><a href="http://www.sutherlandshire.nsw.gov.au/Community/Library/Services/Books-Reading/Author-Talks/">Hilary Mantel, so much more than Wolf Hall</a></div>
  <div class="event-location">Sutherland Library</div>
  <div class="event-action">
    <a class="btn btn-success btn-xs js-ga-tracking" data-ga-category="cta-button-bookevent" data-ga-action="click" data-ga-label="Book Now" href="https://www.eventbrite.com.au/e/hilary-mantel-so-much-more-than-wolf-hallpresented-by-joanna-penglase-tickets-17560808852">Book Now</a>
  </div>
</li>
<li class="js-General list-group-item">
  <div class="event-date">Wednesday, 2 Sep 2015 at <span class="event-time">6:00PM</span></div>
  <div class="event-title"><a href="http://www.sutherlandshire.nsw.gov.au/Community/Library/Services/HSC-Students/">HSC Lecture: Biology</a></div>
  <div class="event-location">Sutherland Library</div>
  <div class="event-action">
    <a class="btn btn-success btn-xs js-ga-tracking" data-ga-category="cta-button-bookevent" data-ga-action="click" data-ga-label="Book Now" href="https://www.eventbrite.com.au/e/hsc-biology-tickets-17667949312">Book Now</a>
  </div>
</li>
<li class="js-General list-group-item">
  <div class="event-date">Wednesday, 9 Sep 2015 at <span class="event-time">6:00PM</span></div>
  <div class="event-title"><a href="http://www.sutherlandshire.nsw.gov.au/Community/Library/Services/HSC-Students/">HSC Lecture: English - Metropolis &amp; 1984</a></div>
  <div class="event-location">Sutherland Library</div>
  <div class="event-action">
    <a class="btn btn-success btn-xs js-ga-tracking" data-ga-category="cta-button-bookevent" data-ga-action="click" data-ga-label="Book Now" href="https://www.eventbrite.com.au/e/hsc-english-metropolis-1984-tickets-17704803544">Book Now</a>
  </div>
</li>
