<div class="thumbnail">
  <div class="firstup">
    <a href="event-detail.html" class="">
      <img alt="some atl text" src="http://lorempixel.com/480/320/people" class="">
    </a>
    <div class="caption">
      <h3><a href="event-detail.html">Outside the Panels: New Australian Comic Artists</a></h3>
      <p><span class="event-date">Wednesday, 16 Sep 2015 at <span class="event-time">10:00AM</span></span>
        An exhibition of the diverse talents of some of the best local comic artists working today, including Marcelo Baez,
        Diana Thung nad Peter Fairfax.</p>
      <p><a href="event-detail.html" class="btn btn-sm btn-success">Learn More</a></p>
    </div><!--/caption-->
  </div><!-- /firstup -->
  <div class="more">
    <ul>
      <li>
        <span class="event-date">Thursday, 17 Sep 2015 at <span class="event-time">9:30AM</span></span>
        <a href="event-detail.html">Save Your Photos Day</a>
      </li>
      <li>
        <span class="event-date">Friday, 18 Sep 2015 at <span class="event-time">10:00AM</span></span>
        <a href="event-detail.html">Miranda Library Knitting Group</a>
      </li>
      <li>
        <span class="event-date">Tuesday, 22 Sep 2105 at <span class="event-time">4:30PM</span></span>
        <a href="event-detail.html">Introduction to BorrowBox</a>
      </li>
    </ul>
  </div>
  <div class="thumbnail-footer">
    <a href="http://eepurl.com/M09RH" class="btn btn-xs btn-primary" data-icon="&#xe02a;"> Subscribe</a>
    <a href="events-list.html" class="btn btn-xs btn-default">View All</a>
  </div><!--/thumbnail-footer-->
</div><!--/thumbnail-->
