<div class="col-xs-6 col-sm-4 col-md-3">
  <div class="thumbnail feature-item feature-event">
    <a href="#"><img alt="placeholder" src="https://loremflickr.com/600/400/people"></a>
    <div class="caption">
      <span class="event-date">Thursday, 16 Jul 2015 at <span class="event-time">2:00PM</span></span>
      <h2><a href="#">Get Ready For Spring</a></h2>
      <p>Get your garden ready for the arrival of spring!</p>
      <p>
        <a class="btn btn-success js-ga-tracking" data-ga-category="cta-button-bookevent" data-ga-action="click" data-ga-label="Book Now" href="#" target="_blank">Book Now</a>
        <a class="btn btn-default" href="#">Learn More</a></p>
    </div><!-- /caption -->
  </div><!-- /feature-event -->
</div>

<div class="col-xs-6 col-sm-4 col-md-3">
  <div class="thumbnail feature-item feature-event">
    <a href="#"><img alt="Placeholder" src="https://loremflickr.com/600/400/abstract"></a>
    <div class="caption">
      <span class="event-date">Saturday, 18 Jul 2015 at <span class="event-time">9:30AM</span></span>
      <h2><a href="#">Upcycled Tea Cup Soy Candles</a></h2>
      <p>Bring your vintage cup and saucer sets and upcycle one into an environmentally friendly soy candle and another into a pincushion.</p>
      <p>
        <a class="btn btn-success js-ga-tracking" data-ga-category="cta-button-bookevent" data-ga-action="click" data-ga-label="Book Now" href="#" target="_blank">Book Now</a>
        <a class="btn btn-default" href="#">Learn More</a></p>
    </div><!-- /caption -->
  </div><!-- /feature-event -->
</div>

<div class="col-xs-6 col-sm-4 col-md-3">
  <div class="thumbnail feature-item feature-event">
    <a href="#"><img alt="Placeholder" src="https://loremflickr.com/600/400/cats"></a>
    <div class="caption">
      <span class="event-date">Tuesday, 21 Jul 2015 at <span class="event-time">10:00AM</span></span>
      <h2><a href="#">Toddler Behaviour and Development</a></h2>
      <p>A child and family health expert will speak about toddler behaviour and development.</p>
      <p>
        <a class="btn btn-success js-ga-tracking" data-ga-category="cta-button-bookevent" data-ga-action="click" data-ga-label="Book Now" href="#" target="_blank">Book Now</a>
        <a class="btn btn-default" href="#">Learn More</a></p>
    </div><!-- /caption -->
  </div><!-- /feature-event -->
</div>

<div class="col-xs-6 col-md-3">
  <div class="thumbnail email-signup">
    <a href="http://eepurl.com/M09RH">
      <img alt="Grumpy Cat: missed out on a library event?" src="//www.sutherlandshire.nsw.gov.au/files/assets/website/images/subsites/library/events-temp/grumpycat.jpg">
    </a>
    <div class="caption">
    		<h2>
    			<span class="sr-only">Missed out on a Library Event?</span>
    			<a href="http://eepurl.com/M09RH">Don't let it happen again!</a></h2>
    		<p>Be the first to know what's happening at the Library. Sign up to receive our newsletter and event updates by email.</p>
        <p><a class="btn btn-success js-ga-tracking" href="http://eepurl.com/M09RH" data-ga-label="email-sign-up" data-ga-action="click" data-ga-category="cta-button-email-subscribe">Email Sign Up</a></p>
    </div><!-- /caption -->
  </div><!-- /email-signup -->
</div>
