<footer>     
  <div class="container-fluid page-wrap">
    <div class="ssc-logo hidden-phone"><a href="http://www.sutherlandshire.nsw.gov.au"><img src="img/ssc-logo-reverse.png" alt="Sutherland Shire Council logo" title="Sutherland Shire Council website" /></a></div> 
    
    <ul class="nav nav-tabs">
      <li class="active"><a href="#comments" data-toggle="tab">Comments</a></li>
      <li><a href="#site-map" data-toggle="tab">SSC website</a></li>
      <li><a href="#rss" data-toggle="tab">RSS</a></li>
    </ul>
    <div class="tab-content">
      <div class="tab-pane active" id="comments">
        <p>Comments</p>
        <div id="disqus_thread"></div>
        <!--<script type="text/javascript">
            /* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
            var disqus_shortname = 'suthlib'; // required: replace example with your forum shortname
    
            /* * * DON'T EDIT BELOW THIS LINE * * */
            (function() {
                var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
                dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
                (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
            })();
        </script>-->
        <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
        <a href="http://disqus.com" class="dsq-brlink">comments powered by <span class="logo-disqus">Disqus</span></a>
            
      </div><!-- /tab-pane 1 -->
      <div class="tab-pane" id="site-map">
        <div class="ssc-logo hide-text">Sutherland Shire Council website</div>
        <div class="row-fluid">  
          <div class="sitemap-section span4">
            <h3><a href="http://www.sutherlandshire.nsw.gov.au/Council_The_Shire">Council &amp; The Shire</a></h3>
            <ul>
              <li><a target="_self" href="http://www.sutherlandshire.nsw.gov.au/Council_The_Shire/Contacts_and_Opening_Hours">Contacts and Opening Hours</a></li>
              <li><a target="_self" href="http://www.sutherlandshire.nsw.gov.au/Council_The_Shire/Councillors">Councillors</a></li>
              <li><a target="_self" href="http://www.sutherlandshire.nsw.gov.au/Council_The_Shire/Meetings_Minutes">Meetings &amp; Minutes</a></li>
              <li><a target="_self" href="http://www.sutherlandshire.nsw.gov.au/Council_The_Shire/Positions_Vacant">Positions Vacant</a></li>
              <li><a target="_self" href="http://www.sutherlandshire.nsw.gov.au/Council_The_Shire/Work_Experience_at_Council">Work Experience at Council</a></li>
              <li><a target="_self" href="http://www.sutherlandshire.nsw.gov.au/Council_The_Shire/Policies_Forms">Policies &amp; Forms</a></li>
              <li><a target="_self" href="http://www.sutherlandshire.nsw.gov.au/Council_The_Shire/Open_Government">Open Government</a></li>
              <li><a target="_self" href="http://www.sutherlandshire.nsw.gov.au/Council_The_Shire/About_the_Shire">About the Shire</a></li>
              <li><a target="_self" href="http://www.sutherlandshire.nsw.gov.au/Council_The_Shire/Public_Consultations">Public Consultations</a></li>
              <li><a target="_self" href="http://www.sutherlandshire.nsw.gov.au/Council_The_Shire/Public_Notices">Public Notices</a></li>
              <li><a target="_self" href="http://www.sutherlandshire.nsw.gov.au/Council_The_Shire/Our_Future">Our Future</a></li>
              <li><a target="_self" href="http://www.sutherlandshire.nsw.gov.au/Council_The_Shire/Grants">Grants</a></li>
              <li><a target="_self" href="http://www.sutherlandshire.nsw.gov.au/Council_The_Shire/Publications">Publications</a></li>
              <li><a target="_self" href="http://www.sutherlandshire.nsw.gov.au/Council_The_Shire/Media_Centre">Media Centre</a></li>
              <li><a target="_self" href="http://www.sutherlandshire.nsw.gov.au/Council_The_Shire/Local_Laws">Local Laws</a></li>
              <li><a target="_self" href="http://www.sutherlandshire.nsw.gov.au/Council_The_Shire/Council_Elections_2012">Council Elections 2012</a></li>
            </ul>
          </div>
          <div class="sitemap-section span4">
            <h3><a href="http://www.sutherlandshire.nsw.gov.au/My_Place">My Place</a></h3>
            <ul>
              <li><a target="_self" href="http://www.sutherlandshire.nsw.gov.au/My_Place/Rubbish">Rubbish</a></li>
              <li><a target="_self" href="http://www.sutherlandshire.nsw.gov.au/My_Place/Trees">Trees</a></li>
              <li><a target="_self" href="http://www.sutherlandshire.nsw.gov.au/My_Place/Animals">Animals</a></li>
              <li><a target="_self" href="http://www.sutherlandshire.nsw.gov.au/My_Place/Pollution">Pollution</a></li>
              <li><a target="_self" href="http://www.sutherlandshire.nsw.gov.au/My_Place/Stormwater_Greywater_Sewage">Stormwater, Greywater &amp; Sewage</a></li><li><a target="_self" href="http://www.sutherlandshire.nsw.gov.au/My_Place/Transport_Accessibility">Transport &amp; Accessibility</a></li>
              <li><a target="_self" href="http://www.sutherlandshire.nsw.gov.au/My_Place/Swimming_Pools">Swimming Pools</a></li>
            </ul>
          </div>
          <div class="sitemap-section span4">
            <h3><a href="http://www.sutherlandshire.nsw.gov.au/Our_Community">Our Community</a></h3>
            <ul>
              <li><a target="_self" href="http://www.sutherlandshire.nsw.gov.au/Our_Community/Whats_On_in_The_Shire">Whats On in The Shire</a></li>
              <li><a target="_self" href="http://www.sutherlandshire.nsw.gov.au/Our_Community/Christmas_Carol_Locations">Christmas Carol Locations</a></li>
              <li><a target="_self" href="http://www.sutherlandshire.nsw.gov.au/Our_Community/Community_Directory">Community Directory</a></li>
              <li><a target="_self" href="http://www.sutherlandshire.nsw.gov.au/Our_Community/Children">Children</a></li>
              <li><a target="_self" href="http://www.sutherlandshire.nsw.gov.au/Our_Community/Young_People">Young People</a></li>
              <li><a target="_self" href="http://www.sutherlandshire.nsw.gov.au/Our_Community/Seniors">Seniors</a></li>
              <li><a target="_self" href="http://www.sutherlandshire.nsw.gov.au/Our_Community/Facilities_for_Hire">Facilities for Hire</a></li>
              <li><a target="_self" href="http://www.sutherlandshire.nsw.gov.au/Our_Community/Public_Toilets">Public Toilets</a></li>
              <li><a target="_self" href="http://www.sutherlandshire.nsw.gov.au/Our_Community/Volunteering">Volunteering</a></li>
              <li><a target="_self" href="http://www.sutherlandshire.nsw.gov.au/Our_Community/Access_Disability">Access &amp; Disability</a></li>
              <li><a target="_self" href="http://www.sutherlandshire.nsw.gov.au/Our_Community/Diverse_Communities">Diverse Communities</a></li>
              <li><a target="_self" href="http://www.sutherlandshire.nsw.gov.au/Our_Community/Citizenship">Citizenship</a></li>
              <li><a target="_self" href="http://www.sutherlandshire.nsw.gov.au/Our_Community/Road_Safety">Road Safety</a></li>
            </ul>
          </div>
        </div>
        <div class="row-fluid">
          <div class="sitemap-section span4">
            <h3><a href="http://www.sutherlandshire.nsw.gov.au/Building_Development">Building &amp; Development</a></h3>
            <ul>
              <li><a target="_self" href="http://www.sutherlandshire.nsw.gov.au/Building_Development/Do_I_Need_Approval">Do I Need Approval?</a></li>
              <li><a target="_self" href="http://www.sutherlandshire.nsw.gov.au/Building_Development/Development_Requirements">Development Requirements</a></li>
              <li><a target="_self" href="http://www.sutherlandshire.nsw.gov.au/Building_Development/Development_Applications">Development Applications</a></li>
              <li><a target="_self" href="http://www.sutherlandshire.nsw.gov.au/Building_Development/Certificates">Certificates</a></li><li><a target="_self" href="http://www.sutherlandshire.nsw.gov.au/Building_Development/Southern_Sydney_Building_Certifiers">Southern Sydney Building Certifiers</a></li>
              <li><a target="_self" href="http://www.sutherlandshire.nsw.gov.au/Building_Development/Council_Works_Projects">Council Works &amp; Projects</a></li>
              <li><a target="_self" href="http://www.sutherlandshire.nsw.gov.au/Building_Development/DAs_over_the_Christmas_period">DAs over the Christmas period</a></li>
            </ul>
          </div>
          <div class="sitemap-section span4">
            <h3><a href="http://www.sutherlandshire.nsw.gov.au/Recreation">Recreation</a></h3>
            <ul>
              <li><a target="_self" href="http://www.sutherlandshire.nsw.gov.au/Recreation/Leisure_Centres">Leisure Centres</a></li>
              <li><a target="_self" href="http://www.sutherlandshire.nsw.gov.au/Recreation/Menai_Indoor_Sports_Centre">Menai Indoor Sports Centre</a></li>
              <li><a target="_self" href="http://www.sutherlandshire.nsw.gov.au/Recreation/Boat_Ramps">Boat Ramps</a></li>
              <li><a target="_self" href="http://www.sutherlandshire.nsw.gov.au/Recreation/Sport">Sport</a></li>
              <li><a target="_self" href="http://www.sutherlandshire.nsw.gov.au/Recreation/Parks">Parks</a></li>
              <li><a target="_self" href="http://www.sutherlandshire.nsw.gov.au/Recreation/Beaches">Beaches</a></li>
              <li><a target="_self" href="http://www.sutherlandshire.nsw.gov.au/Recreation/Cronulla_Plaza">Cronulla Plaza</a></li>
              <li><a target="_self" href="http://www.sutherlandshire.nsw.gov.au/Recreation/Tourism">Tourism</a></li>
              <li><a target="_self" href="http://www.sutherlandshire.nsw.gov.au/Recreation/Dog_Friendly_Areas">Dog Friendly Areas</a></li>
              <li><a target="_self" href="http://www.sutherlandshire.nsw.gov.au/Recreation/Cycling_Walking">Cycling &amp; Walking</a></li>
            </ul>
          </div>
          <div class="sitemap-section span4">
            <h3><a href="http://www.sutherlandshire.nsw.gov.au/Library">Library</a></h3>
            <ul>
              <li><a target="_self" href="http://www.sutherlandshire.nsw.gov.au/Library/Whats_On">Whats On</a></li>
              <li><a target="_self" href="http://www.sutherlandshire.nsw.gov.au/Library/Membership">Membership</a></li>
              <li><a target="_self" href="http://www.sutherlandshire.nsw.gov.au/Library/Find_a_Library">Find a Library</a></li>
              <li><a target="_self" href="http://www.sutherlandshire.nsw.gov.au/Library/Information_For">Information For</a></li>
              <li><a target="_self" href="http://www.sutherlandshire.nsw.gov.au/Library/Online_Collections">Online Collections</a></li><li><a target="_self" href="http://www.sutherlandshire.nsw.gov.au/Library/Local_Studies">Local Studies</a></li>
              <li><a target="_self" href="http://www.sutherlandshire.nsw.gov.au/Library/Services">Services</a></li>
            </ul>
          </div>
        </div>
        <div class="row-fluid">
          <div class="sitemap-section span4">
            <h3><a href="http://www.sutherlandshire.nsw.gov.au/Arts_Entertainment">Arts &amp; Entertainment</a></h3>
            <ul>
              <li><a target="_self" href="http://www.sutherlandshire.nsw.gov.au/Arts_Entertainment/Whats_On_in_The_Shire">Whats On in The Shire</a></li>
              <li><a target="_self" href="http://www.sutherlandshire.nsw.gov.au/Arts_Entertainment/Hazelhurst">Hazelhurst</a></li>
              <li><a target="_self" href="http://www.sutherlandshire.nsw.gov.au/Arts_Entertainment/Entertainment_Centre">Entertainment Centre</a></li>
              <li><a target="_self" href="http://www.sutherlandshire.nsw.gov.au/Arts_Entertainment/Australia_Day">Australia Day</a></li>
            </ul>
          </div>
          <div class="sitemap-section span4">
            <h3><a href="http://www.sutherlandshire.nsw.gov.au/Environment">Environment</a></h3>
            <ul>
              <li><a target="_self" href="http://www.sutherlandshire.nsw.gov.au/Environment/Whats_On">What's On</a></li>
              <li><a target="_self" href="http://www.sutherlandshire.nsw.gov.au/Environment/Environmental_Programs">Environmental Programs</a></li>
              <li><a target="_self" href="http://www.sutherlandshire.nsw.gov.au/Environment/Air_quality">Air quality</a></li>
              <li><a target="_self" href="http://www.sutherlandshire.nsw.gov.au/Environment/Biodiversity">Biodiversity</a></li>
              <li><a target="_self" href="http://www.sutherlandshire.nsw.gov.au/Environment/Plants">Plants</a></li>
              <li><a target="_self" href="http://www.sutherlandshire.nsw.gov.au/Environment/State_of_Environment_Report">State of Environment Report</a></li>
              <li><a target="_self" href="http://www.sutherlandshire.nsw.gov.au/Environment/Waterways">Waterways</a></li>
              <li><a target="_self" href="http://www.sutherlandshire.nsw.gov.au/Environment/Sustainable_Living">Sustainable Living</a></li>
            </ul>
          </div>
          <div class="sitemap-section span4">
            <h3><a href="http://www.sutherlandshire.nsw.gov.au/Business">Business</a></h3>
            <ul>
              <li><a target="_self" href="http://www.sutherlandshire.nsw.gov.au/Business/Whats_On_for_Business">Whats On for Business</a></li>
              <li><a target="_self" href="http://www.sutherlandshire.nsw.gov.au/Business/Approvals_and_Permits">Approvals and Permits</a></li>
              <li><a target="_self" href="http://www.sutherlandshire.nsw.gov.au/Business/Running_my_Business">Running my Business</a></li>
              <li><a target="_self" href="http://www.sutherlandshire.nsw.gov.au/Business/Office_space_and_meeting_rooms">Office space and meeting rooms</a></li>
              <li><a target="_self" href="http://www.sutherlandshire.nsw.gov.au/Business/Commercial_Centres">Commercial Centres</a></li>
              <li><a target="_self" href="http://www.sutherlandshire.nsw.gov.au/Business/Business_Networks">Business Networks</a></li>
              <li><a target="_self" href="http://www.sutherlandshire.nsw.gov.au/Business/Business_Advisory_Services">Business Advisory Services</a></li>
            </ul>
          </div>
        </div>
      </div><!-- /tab-pane 2 -->
      <div class="tab-pane" id="rss">
        
        <div class="rss-block row-fluid">
                      
          <div class="rss-section span3">
            <h3>News &amp; Notices</h3>
            <ul class="unstyled">
              <li data-icon="&#xe01b;"><a class="rss-link" href="http://feeds.feedburner.com/SSCPositionsVacant">Positions Vacant</a></li>
              <li data-icon="&#xe01b;"><a class="rss-link" href="http://feeds.feedburner.com/SSCAlerts">Service and Facility Alerts</a></li>
              <li data-icon="&#xe01b;"><a class="rss-link" href="http://www.sutherlandshire.nsw.gov.au/feed.rss?listID=182">Public Notices</a></li>
              <li data-icon="&#xe01b;"><a class="rss-link" href="http://feeds.feedburner.com/SSCMediaReleases">Media Releases</a></li>
              <li data-icon="&#xe01b;"><a class="rss-link" href="http://feeds.feedburner.com/SutherlandShireLibrariesWeblog">Library News</a></li>
           </ul>
          </div><!-- rss-section -->
                  
          <div class="rss-section span3">
            <h3>Development Applications</h3>
            <ul class="unstyled">
              <li data-icon="&#xe01b;"><a class="rss-link" href="http://feeds.ssc.nsw.gov.au/?page=daSUBlast14days">Sutherland Shire - Submitted in last 14 days</a></li>
              <li data-icon="&#xe01b;"><a class="rss-link" href="http://feeds.ssc.nsw.gov.au/?page=daDETlast14days">Sutherland Shire - Determined in last 14 days</a></li>
              <li data-icon="&#xe01b;"><a class="rss-link" href="http://feeds.ssc.nsw.gov.au/?page=daSUBlast7daysAWard">A Ward - Submitted in last 7 days</a></li>
              <li data-icon="&#xe01b;"><a class="rss-link" href="http://feeds.ssc.nsw.gov.au/?page=daSUBlast7daysBWard">B Ward - Submitted in last 7 days</a></li>
              <li data-icon="&#xe01b;"><a class="rss-link" href="http://feeds.ssc.nsw.gov.au/?page=daSUBlast7daysCWard">C Ward - Submitted in last 7 days</a></li>
              <li data-icon="&#xe01b;"><a class="rss-link" href="http://feeds.ssc.nsw.gov.au/?page=daSUBlast7daysDWard">D Ward - Submitted in last 7 days</a></li>
              <li data-icon="&#xe01b;"><a class="rss-link" href="http://feeds.ssc.nsw.gov.au/?page=daSUBlast7daysEWard">E Ward - Submitted in last 7 days</a></li>              
            </ul>
          </div><!-- rss-section -->
        
          <div class="rss-section">
            <h3>Events</h3>
            <ul class="unstyled">
              <li data-icon="&#xe01b;"><a class="rss-link" href="http://feeds.feedburner.com/sscallevents">All Events</a></li>
              <li data-icon="&#xe01b;"><a class="rss-link" href="http://feeds.feedburner.com/SutherlandShireLibrariesEvents">Library Events</a></li>
            </ul>
          </div><!-- rss-section -->
                  
        </div><!-- /rss-block -->
        
      </div><!-- /tab-pane 3 -->
    </div><!--/@tab-content-->

    <p>&copy; Sutherland Shire Council 2012</p>

  </div><!-- /container.page-wrap -->
  </footer>