<div id="ctl05_divFormContainer" class="se-form-container">
  <div id="form" class="form-bootstrap form-horizontal">
  <!-- Div to contain error, hidden by default -->
    <div id="form-errors" class="alert alert-danger" style=
    "display:none;">
    <p><strong data-icon="&#xe023;">Almost There</strong>: Check the following
    information and try again:</p>
    </div>

    <h2>Student Information</h2>
    <div class="form-group">
      <label for="ctl05_rpControls_ctl01_fiControl_se_form">First Name
        <span class="se-form-required-asterisk">*</span>
        <span class="se-form-required-text">(required)</span>
      </label>
      <div class="col-sm-8">
        <input name="ctl05$rpControls$ctl01$fiControl$se_form" type="text" maxlength="300" id="ctl05_rpControls_ctl01_fiControl_se_form">
        <p class="help-block"></p>
      </div>
    </div>
    <!-- /form-group -->

    <div class="form-group">
      <label for="ctl05_rpControls_ctl02_fiControl_se_form">Last Name
        <span class="se-form-required-asterisk">*</span>
        <span class="se-form-required-text">(required)</span>
      </label>
      <div class="col-sm-8">
        <input name="ctl05$rpControls$ctl02$fiControl$se_form" type="text" maxlength="300" id="ctl05_rpControls_ctl02_fiControl_se_form">
        <p class="help-block"></p>
      </div>
    </div>
    <!-- /form-group -->

    <div class="form-group">
      <label for="ctl05_rpControls_ctl06_fiControl_se_form">Email Address
        <span class="se-form-required-asterisk">*</span>
        <span class="se-form-required-text">(required)</span>
      </label>
      <div class="col-sm-8">
        <input name="ctl05$rpControls$ctl06$fiControl$se_form" type="text" value="eg: my.username@education.nsw.gov.au" maxlength="300" id=
    "ctl05_rpControls_ctl06_fiControl_se_form">
        <p class="help-block"></p>
      </div>
    </div>
    <!-- /form-group -->

    <div class="form-group">
      <label for="ctl05_rpControls_ctl07_fiControl_se_form">Phone
        <span class="se-form-required-asterisk">*</span>
        <span class="se-form-required-text">(required)</span>
      </label>
      <div class="col-sm-8">
        <input name="ctl05$rpControls$ctl07$fiControl$se_form" type="text" maxlength="10" id="ctl05_rpControls_ctl07_fiControl_se_form">
        <p class="help-block">Enter your Mobile (preferred) or home phone number without spaces</p>
      </div>
    </div>
    <!-- /form-group -->

    <div class="form-group">
      <label for="ctl05_rpControls_ctl08_fiControl_se_form">Date of Birth
        <span class="se-form-required-asterisk">*</span>
        <span class="se-form-required-text">(required)</span>
      </label>
      <div class="col-sm-8">
        <input name="ctl05$rpControls$ctl08$fiControl$se_form" type="text" maxlength="300" id="ctl05_rpControls_ctl08_fiControl_se_form">
        <p class="help-block"></p>
      </div>
    </div>
    <!-- /form-group -->

    <div class="form-group">
      <label for="ctl05_rpControls_ctl09_fiControl_se_form">Gender
        <span class="se-form-required-asterisk">*</span>
        <span class="se-form-required-text">(required)</span>
      </label>
      <div class="col-sm-8">
        <select name="ctl05$rpControls$ctl09$fiControl$se_form" id="ctl05_rpControls_ctl09_fiControl_se_form">
          <option value="Female">Female</option>
          <option value="Male">Male</option>
          <option value="Unspecified">Unspecified</option>
        </select>
        <p class="help-block"></p>
      </div>
    </div>
    <!-- /form-group -->

    <div class="form-group">
      <label for="ctl05_rpControls_ctl12_fiControl_se_form">Signature</label>
      <div class="col-sm-8">
        <input name="ctl05$rpControls$ctl12$fiControl$se_form" type="text" maxlength="300" id="ctl05_rpControls_ctl12_fiControl_se_form">
        <p class="help-block">By Signing this form I understand and agree to the Declaration below (not applicable to children under 18 years).
        </p>
      </div>
    </div>
    <!-- /form-group -->

    <h2>Parent / Guardian Information</h2>
    <div class="form-group">
      <label for="ctl05_rpControls_ctl14_fiControl_se_form">Parent / Guardian Name</label>
      <div class="col-sm-8">
        <input name="ctl05$rpControls$ctl14$fiControl$se_form" type="text" maxlength="300" id="ctl05_rpControls_ctl14_fiControl_se_form">
        <p class="help-block">Required for children under 18</p>
      </div>
    </div>
    <!-- /form-group -->
    <div class="form-group">
      <label for="ctl05_rpControls_ctl15_fiControl_se_form">Parent / Guardian Signature</label>
      <div class="col-sm-8">
        <input name="ctl05$rpControls$ctl15$fiControl$se_form" type="text" maxlength="300" id="ctl05_rpControls_ctl15_fiControl_se_form">
        <p class="help-block">By Signing this form as the Parent / Guardian of a child aged under the age of 18 years, I understand the Declaration below and agree to accept full responsibility on their behalf.</p>
      </div>
    </div>
    <!-- /form-group -->

    <div class="button-group col-sm-offset-3">
      <a id="print-btn" class="btn btn-primary hidden-print" href="javascript:window.print();" role="button">Print</a>
      <input type="submit" name="ctl05$ctl00" value="Submit">
      <a data-toggle="collapse" href="#privacyPolicy" aria-expanded="false" aria-controls="privacyPolicy" class="pull-right hidden-print">SSC privacy policy</a>
    </div>

    <p class="clearfix">&nbsp;</p>

    <div class="collapse hidden-print" id="privacyPolicy">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h2 class="panel-title">Sutherland Shire Council Privacy Policy</h2>
        </div>
        <div class="panel-body">
          <p>Sutherland Shire Council is required to comply with the information protection principles in the Privacy and Personal Information Act 1998 (PPIP Act). These principles regulate the collection, storage, use and disclosure of personal information
            held by government agencies. Generally, any personal information you provide to Council will only be used and/or disclosed for the Council's purposes, or a directly related purpose, unless you consent to another use or disclosure, in emergencies
            or as otherwise required or authorised by law.</p>
          <p>Read council's <a href="http://www.sutherlandshire.nsw.gov.au/Council/Policies-and-Forms/Policies/Privacy-Management-Plan" target="_blank">Privacy Management Plan</a></p>
        </div>
      </div>
      <!-- /panel -->
    </div>
    <!-- /privacyPolicy -->
  </div>
  <!-- /form -->
</div>
