<header id="banner" class="row banner">
  <div class="col-sm-6">
    <p class="ssc-link">A <a href="http://www.sutherlandshire.nsw.gov.au">Sutherland Shire Council</a> Facility</p>
    <a href="http://www.sutherlandshire.nsw.gov.au/community/library">
      <div class="title-logo">Sutherland Shire Council - Libraries</div>
    </a>
  </div><!-- /column -->

  <div class="col-sm-6 catalog">
    <div id="catalog-search" class="catalog-search form-inline">
      <div class="form-group">
        <label for="catalog-search-textbox" class="hidden-xs hidden-sm">Search our collection</label>
        <div class="input-group">
          <input id="catalog-search-textbox" class="form-control" type="text" name="catalogue-search-textbox" placeholder="books, articles, DVDs, everything">
          <span class="input-group-btn">
            <input id="catalog-search-btn" class="btn btn-primary" type="submit" value="Go" name="catalog-search-btn">
          </span>
        </div><!-- /input-group -->
      </div><!-- /form-group -->
      <!-- data-ga-category="catalogue" data-ga-action="click" data-ga-label="search button" -->
    </div>

    <div class="catalog-extras">
      <a class="account-login pop-over js-ga-tracking" data-ga-category="catalogue" data-ga-action="click" data-ga-label="login" href="http://webpac.sutherlandshire.nsw.gov.au/patroninfo" data-icon="&#xe019;" data-content="login to your account to renew your loans and update your details" data-placement="bottom" data-toggle="popover" data-trigger="hover focus">Login</a>
      <a class="adv-search js-ga-tracking" data-ga-category="catalogue" data-ga-action="click" data-ga-label="catalogue link" href="http://encore.sutherlandshire.nsw.gov.au/" data-icon="&#xe01c;" title="Go to the Library Catalogue">Catalogue</a>
      <a class="catalog-help js-ga-tracking" data-ga-category="catalogue" data-ga-action="click" data-ga-label="help" href="http://webpac.sutherlandshire.nsw.gov.au/help" data-icon="&#xe000;">Help</a>
    </div>
  </div><!-- /column -->
</header><!-- /row -->
