<div class="thumbnail">
  <div class="firstup">
    <a href="content.html" data-ga-category="homepage-spotlight" data-ga-action="click" data-ga-label="Audiobooks and eBooks">
      <img alt="Sony ebook reader" src="http://lorempixel.com/480/320/technics" class="">
    </a>
    <div class="caption">
      <h3><a href="content.html" data-ga-category="homepage-spotlight" data-ga-action="click" data-ga-label="Audiobooks and eBooks">Basic Content Page</a></h3>
      <p>Summary of basic content page, drawn from the content management system. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris luctus nunc eget.</p>
      <p><a href="content.html" class="btn btn-sm btn-success" data-ga-category="homepage-spotlight" data-ga-action="click" data-ga-label="Audiobooks and eBooks">Learn More</a></p>
    </div><!--/caption-->
  </div><!-- /firstup -->
  <ul class="more">
    <li>
      <a href="content-audio.html" data-ga-category="homepage-spotlight" data-ga-action="click" data-ga-label="Freegal">Audio Content Page</a>
    </li>
    <li><a href="content-expando.html">Custom Collapse Page</a></li>
    <li><a href="content-tables.html">Content with Tables</a></li>
    <li><a href="content-video-embed.html">Embedded Video Page</a></li>
    <li><a href="audio-list.html">Audio (Oral History) List</a></li>
    <li><a href="json-google.html">JSON Content from Google Sheets</a></li>
  </ul>
</div><!--/thumbnail-->
