<div class="owl-carousel instruction-carousel">
  <div class="item">
    <div class="thumbnail">
      <img src="http://via.placeholder.com/900x506/222222" alt="...">
      <div class="caption">
        <p>Start by Signing up for your personal Kanopy account. Click on the Sign Up link at the top of the page.</p>
      </div>
    </div>
  </div>
  <div class="item">
    <div class="thumbnail">
      <img src="http://via.placeholder.com/900x506/dddddd" alt="...">
      <div class="caption">
        <p>Enter your name &amp; email addres and choose a password, then click on the Sign up button.</p>
      </div>
    </div>
  </div>
  <div class="item">
    <div class="thumbnail">
      <img src="http://via.placeholder.com/900x506/222222" alt="...">
      <div class="caption">
        <p>Open your email and look for the verification message from kanopy.</p>
      </div>
    </div>
  </div>
  <div class="item">
    <div class="thumbnail">
      <img src="http://via.placeholder.com/900x506/dddddd" alt="...">
      <div class="caption">
        <p>Click on the Verify my email button in the message. You will return to the kanopy website.</p>
      </div>
    </div>
  </div>
  <div class="item">
    <div class="thumbnail">
      <img src="http://via.placeholder.com/900x506/222222" alt="...">
      <div class="caption">
        <p>Kanopy needs to confirm your Sutherland Shire Libraries memberhsip; click on the Add library card button.</p>
      </div>
    </div>
  </div>
  <div class="item">
    <div class="thumbnail">
      <img src="http://via.placeholder.com/900x506/dddddd" alt="...">
      <div class="caption">
        <p>Enter your full library card number (14 digits) with no spaces and click on Save.  You are now ready to start watching Kanopy films!</p>
      </div>
    </div>
  </div>
</div><!-- /owl-carousel -->
