<div class="col-sm-6">
  <div class="panel panel-default">
    <div class="panel-body">
      <div class="media">
        <div class="media-left">
          <img class="media-object" src="https://loremflickr.com/150/100/people" alt="...">
        </div>
        <div class="media-body">
          <h4 class="media-heading">Media Heading</h4>
          Explore the Local History Collection on a map. Find pictures, maps and more by location.
        </div>
      </div>
    </div>
  </div>
</div><!-- /column -->
