<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <a role="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#main-navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </a>
      <a class="navbar-brand" href="#">Menu</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="main-navbar">
      <ul class="nav navbar-nav">
        <li class="active"><a data-icon="&#xe02c;" href="index.html"><span class="sr-only">Home</span></a></li>
        <li><a href="events-list.html">What's On</a></li>
        <li class="dropdown">
          <a href="listview.html" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Membership <span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li><a href="content.html">Join the Library</a></li>
            <li><a href="content.html">Conditions of Membership</a></li>
            <li><a href="content-expando.html">Library Policies</a></li>
          </ul>
        </li>
        <li class="dropdown">
          <a href="property-list.html" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Libraries <span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li><a href="property.html">Sutherland Library</a></li>
            <li><a href="property.html">Cronulla Library</a></li>
            <li><a href="property.html">Caringbah Library</a></li>
            <li><a href="property.html">Miranda Library</a></li>
            <li><a href="property.html">Sylvania Library</a>	</li>
            <li><a href="property.html">Engadine Library</a></li>
            <li><a href="property.html">Menai Library</a></li>
            <li><a href="property.html">Bundeena Library</a></li>
          </ul>
        </li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Services <span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li><a href="new-items.html">New Items</a></li>
            <li><a href="listview.html">Kids &amp; Parents</a></li>
            <li><a href="listview.html">Seniors</a></li>
            <li><a href="content-tables.html">Multicultural Communities</a></li>
            <li><a href="listview.html">HSC Students</a></li>
            <li><a href="listview.html">Computers &amp; Internet</a></li>
          </ul>
        </li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Digital Collections <span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li><a href="content-video-embed.html">Audiobooks &amp; eBooks</a></li>
            <li><a href="content.html">Freegal Music Downloads</a></li>
            <li><a href="resource-detail.html">Zinio Digital Magazines</a></li>
            <li><a href="resources-list.html">Research Databases</a></li>
            <li><a href="resource-detail.html">Learn a Language</a></li>
            <li><a href="resources-list.html">Family History</a></li>
          </ul>
        </li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Local Studies <span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li><a href="content-audio.html">Historical Photographs</a></li>
            <li><a href="content-audio.html">Local Newspapers</a></li>
            <li><a href="content-audio.html">Maps</a></li>
            <li><a href="audio-list.html">Oral Histories</a></li>
            <li><a href="content-audio.html">Historical Studies &amp; Pathfinders</a></li>
          </ul>
        </li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
