<nav role="navigation" class="navbar navbar-inverse">
  <div class="navbar-inner">
    <div class="container">
      <a data-target=".navbar-responsive-collapse" data-toggle="collapse" class="btn btn-navbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </a>
      <a href="#" class="brand hidden-desktop">Menu</a>
      <div class="nav-collapse collapse navbar-responsive-collapse">
        <ul class="nav">
          <li>
            <a data-icon="&#xe02c;" href="http://www.sutherlandshire.nsw.gov.au/library/">Home</a>
          </li>
          <!--<li class="dropdown">
            <a data-toggle="dropdown" class="dropdown-toggle" data-target="#" href="http://www.sutherlandshire.nsw.gov.au/library/whats_on">What's On <b class="caret"></b></a>
            <ul class="dropdown-menu">
              <li><a href="http://www.sutherlandshire.nsw.gov.au/library/whats_on/Events">Events</a></li>
            </ul>
          </li>-->
          <li>
            <a href="http://www.sutherlandshire.nsw.gov.au/library/whats_on">What's On</a>
          </li>
          <li class="dropdown">
            <a data-toggle="dropdown" class="dropdown-toggle" data-target="#" href="/membership">Membership <b class="caret"></b></a>
            <ul class="dropdown-menu">
              <li><a href="http://www.sutherlandshire.nsw.gov.au/library/membership/join_the_library">Join the Library</a></li>
              <li><a href="http://www.sutherlandshire.nsw.gov.au/library/membership/conditions_of_membership">Conditions of Membership</a></li>
              <li><a href="http://www.sutherlandshire.nsw.gov.au/library/membership/library_policies">Library Policies</a></li>
            </ul>
          </li>
          <li class="dropdown">
            <a data-toggle="dropdown" class="dropdown-toggle" data-target="#" href="http://www.sutherlandshire.nsw.gov.au/library/find_a_library">Libraries <b class="caret"></b></a>
            <ul class="dropdown-menu">
              <li class=""><a href="http://www.sutherlandshire.nsw.gov.au/library/Sutherland_Library">Sutherland Library</a></li>
              <li class=""><a href="http://www.sutherlandshire.nsw.gov.au/library/Cronulla_Library">Cronulla Library</a></li>
              <li class=""><a href="http://www.sutherlandshire.nsw.gov.au/library/Caringbah_Library">Caringbah Library</a></li>
              <li class=""><a href="http://www.sutherlandshire.nsw.gov.au/library/Miranda_Library">Miranda Library</a></li>
              <li class=""><a href="http://www.sutherlandshire.nsw.gov.au/library/Sylvania_Library">Sylvania Library</a>	</li>
              <li class=""><a href="http://www.sutherlandshire.nsw.gov.au/library/Engadine_Library">Engadine Library</a></li>
              <li class=""><a href="http://www.sutherlandshire.nsw.gov.au/library/Menai_Library">Menai Library</a></li>
              <li class=""><a href="http://www.sutherlandshire.nsw.gov.au/library/Bundeena_Library">Bundeena Library</a></li>
            </ul>
          </li>
          <li class="dropdown">
            <a data-toggle="dropdown" class="dropdown-toggle" data-target="#" href="http://www.sutherlandshire.nsw.gov.au/library/Services">Services <b class="caret"></b></a>
            <ul class="dropdown-menu">
              <li class="dropdown-submenu has-subnav">
              	<a href="http://www.sutherlandshire.nsw.gov.au/library/readers">Readers</a>
              	<ul class="dropdown-menu level-3">
              		<li><a href="#">Book Clubs</a></li>
              		<li><a href="#">What Should I Read Next?</a></li>
              		<li><a href="#">Author Talks</a></li>
              		<li><a href="#">Literature in the Library</a></li>
              		<li><a href="#">New Book Lists</a></li>
              	</ul>	
              </li>
              <li class="dropdown-submenu has-subnav">
              	<a href="http://www.sutherlandshire.nsw.gov.au/library/Kids_and_Parents">Kids &amp; Parents</a>
              	<ul class="dropdown-menu level-3">
              		<li><a href="#">Storytime</a></li>
              		<li><a href="#">Rhymetime</a></li>
              		<li><a href="#">Lapsit Program</a></li>
              		<li><a href="#">Homework Help</a></li>
              		<li><a href="#">Reading Games</a></li>
              		<li><a href="#">National Events</a></li>
              	</ul>	
              </li>
              <li class=""><a href="#">HSC Students</a></li>
              <li class=""><a href="#">Seniors</a></li>
              <li class=""><a href="#">Young People</a></li>
              <li class=""><a href="#">Diverse Cultures</a></li>
              <li class=""><a href="#">Computers &amp; Internet</a></li>
              <li class=""><a href="#">Interlibrary Loans</a></li>
            </ul>
          </li>
          <li class="dropdown">
            <a data-toggle="dropdown" class="dropdown-toggle" href="#">Digital Collections <b class="caret"></b></a>
            <ul class="dropdown-menu">
              <li><a href="#">Library Catalogue</a>	</li>
              <li><a href="#">Audiobooks &amp; eBooks</a></li>
              <li><a href="#">Encyclopedias &amp; Reference Books</a></li>
              <li><a href="#">Freegal - Free Music Downloads</a></li>
              <li><a href="#">Research Collection</a></li>
              <li><a href="#">Family History</a></li>
              <li><a href="#">Learn a Language</a></li>
            </ul>
          </li>
          <li class="dropdown">
            <a data-toggle="dropdown" class="dropdown-toggle" href="#">Local Studies <b class="caret"></b></a>
            <ul class="dropdown-menu">
              <li><a href="#">Historical Photographs</a></li>
              <li><a href="#">Local Newspapers</a></li>
              <li><a href="#">Maps</a></li>
              <li><a href="#">Oral Histories</a></li>
              <li><a href="#">Historical Studies &amp; Pathfinders</a></li>
            </ul>
          </li>
        </ul>
      </div><!-- /.nav-collapse -->
    </div><!-- /.container -->
  </div><!-- /.navbar-inner -->
</nav><!--/.navbar-->