<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <a role="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#main-navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </a>
      <a class="navbar-brand" href="#">Menu</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="main-navbar">
      <ul class="nav navbar-nav">
        <li class="active"><a data-icon="&#xe02c;" href="http://www.sutherlandshire.nsw.gov.au/library/"><span class="sr-only">Home</span></a></li>
        <li><a href="http://www.sutherlandshire.nsw.gov.au/library/whats_on">What's On</a></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Membership <span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li><a href="http://www.sutherlandshire.nsw.gov.au/library/membership/join_the_library">Join the Library</a></li>
            <li><a href="http://www.sutherlandshire.nsw.gov.au/library/membership/conditions_of_membership">Conditions of Membership</a></li>
            <li><a href="http://www.sutherlandshire.nsw.gov.au/library/membership/library_policies">Library Policies</a></li>
          </ul>
        </li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Libraries <span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li><a href="http://www.sutherlandshire.nsw.gov.au/library/Sutherland_Library">Sutherland Library</a></li>
            <li><a href="http://www.sutherlandshire.nsw.gov.au/library/Cronulla_Library">Cronulla Library</a></li>
            <li><a href="http://www.sutherlandshire.nsw.gov.au/library/Caringbah_Library">Caringbah Library</a></li>
            <li><a href="http://www.sutherlandshire.nsw.gov.au/library/Miranda_Library">Miranda Library</a></li>
            <li><a href="http://www.sutherlandshire.nsw.gov.au/library/Sylvania_Library">Sylvania Library</a>	</li>
            <li><a href="http://www.sutherlandshire.nsw.gov.au/library/Engadine_Library">Engadine Library</a></li>
            <li><a href="http://www.sutherlandshire.nsw.gov.au/library/Menai_Library">Menai Library</a></li>
            <li><a href="http://www.sutherlandshire.nsw.gov.au/library/Bundeena_Library">Bundeena Library</a></li>
          </ul>
        </li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Services <span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li><a href="http://www.sutherlandshire.nsw.gov.au/library/community/services">Books &amp; Reading</a></li>
            <li><a href="http://www.sutherlandshire.nsw.gov.au/library/community/services">Kids &amp; Parents</a></li>
            <li><a href="http://www.sutherlandshire.nsw.gov.au/library/community/services">Seniors</a></li>
            <li><a href="http://www.sutherlandshire.nsw.gov.au/library/community/services">Multicultural Communities</a></li>
            <li><a href="http://www.sutherlandshire.nsw.gov.au/library/community/services">HSC Students</a></li>
            <li><a href="http://www.sutherlandshire.nsw.gov.au/library/community/services">Computers &amp; Internet</a></li>
          </ul>
        </li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Digital Collections <span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li><a href="http://www.sutherlandshire.nsw.gov.au/community/library/digital-collections">Audiobooks &amp; eBooks</a></li>
            <li><a href="http://www.sutherlandshire.nsw.gov.au/community/library/digital-collections">Freegal Music Downloads</a></li>
            <li><a href="http://www.sutherlandshire.nsw.gov.au/community/library/digital-collections">Zinio Digital Magazines</a></li>
            <li><a href="http://www.sutherlandshire.nsw.gov.au/community/library/digital-collections">Research Databases</a></li>
            <li><a href="http://www.sutherlandshire.nsw.gov.au/community/library/digital-collections">Learn a Language</a></li>
            <li><a href="http://www.sutherlandshire.nsw.gov.au/community/library/digital-collections">Family History</a></li>
          </ul>
        </li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Local Studies <span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li><a href="http://www.sutherlandshire.nsw.gov.au/library/community/local-studies">Historical Photographs</a></li>
            <li><a href="http://www.sutherlandshire.nsw.gov.au/library/community/local-studies">Local Newspapers</a></li>
            <li><a href="http://www.sutherlandshire.nsw.gov.au/library/community/local-studies">Maps</a></li>
            <li><a href="http://www.sutherlandshire.nsw.gov.au/library/community/local-studies">Oral Histories</a></li>
            <li><a href="http://www.sutherlandshire.nsw.gov.au/library/community/local-studies">Historical Studies &amp; Pathfinders</a></li>
          </ul>
        </li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>