<div class="opac-landing-grid">
    <a class="opac-tile search" href="http://encore.sutherlandshire.nsw.gov.au/">
      <div class="icon h1" data-icon="&#xe01c;"></div>
      <div class="text">
        <h2 class="h3">Search the Catalogue</h2>
        <p>Find books, DVDs, magazines, music and more in our collection&hellip;</p>
      </div>
    </a>
    <a class="opac-tile join" href="https://webpac.sutherlandshire.nsw.gov.au/selfreg">
      <div class="icon h1" data-icon="&#xe024;"></div>
      <div class="text">
        <h2 class="h3">Join the Library</h2>
        <p>Become a member of Sutherland Shire Libraries</p>
      </div>
    </a>
    <a class="opac-tile events" href="http://www.sutherlandshire.nsw.gov.au/Community/Library/Whats-On">
      <div class="icon h1" data-icon="&#xe602;"></div>
      <div class="text">
        <h2 class="h3">Library Events</h2>
        <p>See What's on at the Library reserve your place&hellip;</p>
      </div>
    </a>
    <a class="opac-tile login" href="https://encore.sutherlandshire.nsw.gov.au/iii/encore/myaccount">
      <div class="icon h1" data-icon="&#xe019;"></div>
      <div class="text">
        <h2 class="h3">Login to My Account</h2>
        <p>Renew your loans, request items, update your details and more&hellip;</p>
      </div>
    </a>
    <a class="opac-tile email" href="http://eepurl.com/M09RH">
      <div class="icon h1" data-icon="&#xe02a;"></div>
      <div class="text">
        <h2 class="h3">Email Newsletters</h2>
        <p>Subscribe to receive email updates from the Library&hellip;</p>
      </div>
    </a>
    <a class="opac-tile website" href="http://www.sutherlandshire.nsw.gov.au/Community/Library">
      <div class="icon h1" data-icon="&#xe02c;"></div>
      <div class="text">
        <h2 class="h3">Library Website</h2>
        <p>Services and Programs, digital collections and more&hellip;</p>
      </div>
    </a>
  </div>
