<div class="panel-group" id="home-library-contact" role="tablist" aria-multiselectable="true">
  <div class="panel panel-danger hide closures-alert">
    <div class="panel-heading" role="tab" id="libraryClosures">
      <h3 class="panel-title">
        <span role="button" data-toggle="collapse" data-parent="#home-library-contact" href="#closureAlert" aria-expanded="true" aria-controls="closureAlert">
          <span data-icon="&#xe023;"></span> Upcoming Library Closures:
        </span>
      </h3>
    </div>
    <div id="closureAlert" class="panel-collapse collapse" role="tabpanel" aria-labelledby="libaryClosures">
      <div class="panel-body">
        Check the Alerts, top of screen
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="sutherland">
      <h3 class="panel-title">
        <a role="button" data-toggle="collapse" data-parent="#home-library-contact" href="#SutherlandContact" aria-expanded="true" aria-controls="SutherlandContact">
          Sutherland Library
        </a>
      </h3>
    </div>
    <div id="SutherlandContact" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="sutherland">
      <div class="panel-body">
        <p>30-36 Belmont Street, Sutherland, NSW</p>
        <p class="opening-hours">
          <span>Monday:</span> 9am - 9pm<br>
          <span>Tuesday:</span> 9am - 9pm<br>
          <span>Wednesday:</span> 9am - 9pm<br>
          <span>Thursday:</span> 9am - 9pm<br>
          <span>Friday:</span> 9am - 9pm<br>
          <span>Saturday:</span> 9am - 4pm<br>
          <span>Sunday:</span> 12pm - 4pm</p>
        <p>Closed on Public Holidays</p>
        <p>
          <a href="property.html" class="btn btn-xs btn-default">More Details</a>
        </p>
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="cronulla">
      <h3 class="panel-title">
        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#home-library-contact" href="#CronullaContact" aria-expanded="false" aria-controls="CronullaContact">
          Cronulla Library
        </a>
      </h3>
    </div>
    <div id="CronullaContact" class="panel-collapse collapse" role="tabpanel" aria-labelledby="cronulla">
      <div class="panel-body">
        <p>38-60 Croydon Street, Cronulla, NSW</p>
        <p class="opening-hours">
          <span>Monday:</span> 9.30am - 8pm<br>
          <span>Tuesday:</span> 9.30am - 8pm<br>
          <span>Wednesday:</span> 9.30am - 5pm<br>
          <span>Thursday:</span> 9.30am - 8pm<br>
          <span>Friday:</span> 9.30am - 5pm<br>
          <span>Saturday:</span> 9.00am - 4pm<br>
          <span>Sunday:</span> closed
        </p>
        <p>Closed on public holidays</p>
        <p><a href="property.html" class="btn btn-default btn-xs">More Details</a></p>
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="caringbah">
      <h3 class="panel-title">
        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#home-library-contact" href="#CaringbahContact" aria-expanded="false" aria-controls="CaringbahContact">
          Caringbah Library
        </a>
      </h3>
    </div>
    <div id="CaringbahContact" class="panel-collapse collapse" role="tabpanel" aria-labelledby="caringbah">
      <div class="panel-body">
        <p>376-378 Port Hacking Road, Caringbah, NSW</p>
        <p class="opening-hours">
          <span>Monday:</span> 9.30am - 8pm<br>
          <span>Tuesday:</span> 9.30am - 8pm<br>
          <span>Wednesday:</span> 9.30am - 6pm<br>
          <span>Thursday:</span> 9.30am - 8pm<br>
          <span>Friday:</span> 9.30am - 5pm<br>
          <span>Saturday:</span> 9.00am - 12pm<br>
          <span>Sunday:</span> closed
        </p>
        <p>Closed on Public Holidays</p>
        <p><a href="property.html" class="btn btn-default btn-xs">More Details</a></p>
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="engadine">
      <h3 class="panel-title">
        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#home-library-contact" href="#EngadineContact" aria-expanded="false" aria-controls="EngadineContact">
          Engadine Library
        </a>
      </h3>
    </div>
    <div id="EngadineContact" class="panel-collapse collapse" role="tabpanel" aria-labelledby="engadine">
      <div class="panel-body">
        <p>116E Caldarra Avenue, Engadine, NSW</p>
        <p class="opening-hours">
          <span>Monday:</span> 9.30am - 8pm<br>
          <span>Tuesday:</span> 9.30am - 8pm<br>
          <span>Wednesday:</span> 9.30am - 5pm<br>
          <span>Thursday:</span> 9.30am - 8pm<br>
          <span>Friday:</span> 9.30am - 5pm<br>
          <span>Saturday:</span> 9am - 12pm<br>
          <span>Sunday:</span> closed</p>
        <p>Closed on public holidays</p>
        <p><a href="property.html" class="btn btn-default btn-xs">More Details</a></p>
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="miranda">
      <h3 class="panel-title">
        <a role="button" data-toggle="collapse" data-parent="#home-library-contact" href="#MirandaContact" aria-expanded="true" aria-controls="MirandaContact">
          Miranda Library
        </a>
      </h3>
    </div>
    <div id="MirandaContact" class="panel-collapse collapse" role="tabpanel" aria-labelledby="miranda">
      <div class="panel-body">
        <p>30-36 Belmont Street, Sutherland, NSW</p>
        <p class="opening-hours">
          <span>Monday:</span> 9am - 9pm<br>
          <span>Tuesday:</span> 9am - 9pm<br>
          <span>Wednesday:</span> 9am - 9pm<br>
          <span>Thursday:</span> 9am - 9pm<br>
          <span>Friday:</span> 9am - 9pm<br>
          <span>Saturday:</span> 9am - 4pm<br>
          <span>Sunday:</span> 12pm - 4pm</p>
        <p>Closed on Public Holidays</p>
        <p>
          <a href="property.html" class="btn btn-xs btn-default">More Details</a>
        </p>
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="sylvania">
      <h3 class="panel-title">
        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#home-library-contact" href="#SylvaniaContact" aria-expanded="false" aria-controls="SylvaniaContact">
          Sylvania Library
        </a>
      </h3>
    </div>
    <div id="SylvaniaContact" class="panel-collapse collapse" role="tabpanel" aria-labelledby="sylvania">
      <div class="panel-body">
        <p>38-60 Croydon Street, Cronulla, NSW</p>
        <p class="opening-hours">
          <span>Monday:</span> 9.30am - 8pm<br>
          <span>Tuesday:</span> 9.30am - 8pm<br>
          <span>Wednesday:</span> 9.30am - 5pm<br>
          <span>Thursday:</span> 9.30am - 8pm<br>
          <span>Friday:</span> 9.30am - 5pm<br>
          <span>Saturday:</span> 9.00am - 4pm<br>
          <span>Sunday:</span> closed
        </p>
        <p>Closed on public holidays</p>
        <p><a href="property.html" class="btn btn-default btn-xs">More Details</a></p>
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="Menai">
      <h3 class="panel-title">
        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#home-library-contact" href="#MenaiContact" aria-expanded="false" aria-controls="MenaiContact">
          Menai Library
        </a>
      </h3>
    </div>
    <div id="MenaiContact" class="panel-collapse collapse" role="tabpanel" aria-labelledby="menai">
      <div class="panel-body">
        <p>376-378 Port Hacking Road, Caringbah, NSW</p>
        <p class="opening-hours">
          <span>Monday:</span> 9.30am - 8pm<br>
          <span>Tuesday:</span> 9.30am - 8pm<br>
          <span>Wednesday:</span> 9.30am - 6pm<br>
          <span>Thursday:</span> 9.30am - 8pm<br>
          <span>Friday:</span> 9.30am - 5pm<br>
          <span>Saturday:</span> 9.00am - 12pm<br>
          <span>Sunday:</span> closed
        </p>
        <p>Closed on Public Holidays</p>
        <p><a href="property.html" class="btn btn-default btn-xs">More Details</a></p>
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="bundeena">
      <h3 class="panel-title">
        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#home-library-contact" href="#BundeenaContact" aria-expanded="false" aria-controls="BundeenaContact">
          Bundeena Library
        </a>
      </h3>
    </div>
    <div id="BundeenaContact" class="panel-collapse collapse" role="tabpanel" aria-labelledby="bundeena">
      <div class="panel-body">
        <p>116E Caldarra Avenue, Engadine, NSW</p>
        <p class="opening-hours">
          <span>Monday:</span> 9.30am - 8pm<br>
          <span>Tuesday:</span> 9.30am - 8pm<br>
          <span>Wednesday:</span> 9.30am - 5pm<br>
          <span>Thursday:</span> 9.30am - 8pm<br>
          <span>Friday:</span> 9.30am - 5pm<br>
          <span>Saturday:</span> 9am - 12pm<br>
          <span>Sunday:</span> closed</p>
        <p>Closed on public holidays</p>
        <p><a href="property.html" class="btn btn-default btn-xs">More Details</a></p>
      </div>
    </div>
  </div>
</div>
