<div class="accordion" id="home-library-contact">
  <div class="accordion-group danger hide">
    <div class="accordion-heading">
      <a class="accordion-toggle" href="#alerts"><span data-icon="&#xe023;"></span> Upcoming Library Closures: &nbsp;Check the alerts, top of screen
      </a>
    </div>
  </div><!-- /accordian-group -->
  <div class="accordion-group">
    <div class="accordion-heading">
      <a class="accordion-toggle" data-toggle="collapse" data-parent="#home-library-contact" href="#collapseOne">Sutherland Library</a>
    </div>
    <div id="collapseOne" class="accordion-body collapse in">
      <div class="accordion-inner">
        <p>30-36 Belmont Street, Sutherland, NSW</p>
        <div>
          <p><span>Monday:</span> 9am - 9pm<br>
          <span>Tuesday:</span> 9am - 9pm<br>
          <span>Wednesday:</span> 9am - 9pm<br>
          <span>Thursday:</span> 9am - 9pm<br>
          <span>Friday:</span> 9am - 9pm<br>
          <span>Saturday:</span> 9am - 4pm<br>
          <span>Sunday:</span> 12pm - 4pm</p>
          <p>Closed on Public Holidays</p>          
        </div>
        <a href="http://www.sutherlandshire.nsw.gov.au/Library/Find_a_Library/Sutherland_Library" class="btn btn-small">More Details</a>
      </div>
    </div>
  </div><!--/accordion-group-->
  <div class="accordion-group">
    <div class="accordion-heading">
      <a class="accordion-toggle" data-toggle="collapse" data-parent="#home-library-contact" href="#collapseTwo">Cronulla Library</a>
    </div>
    <div id="collapseTwo" class="accordion-body collapse">
      <div class="accordion-inner">
        <p>38-60 Croydon Street, Cronulla, NSW</p>
        <p><span>Monday:</span> 9.30am - 8pm<br>
          <span>Tuesday:</span> 9.30am - 8pm<br>
          <span>Wednesday:</span> 9.30am - 5pm<br>
          <span>Thursday:</span> 9.30am - 8pm<br>
          <span>Friday:</span> 9.30am - 5pm<br>
          <span>Saturday:</span> 9.00am - 12pm<br>
          <span>Sunday:</span> closed</p>
          <p>Closed on public holidays</p>
        <a href="http://www.sutherlandshire.nsw.gov.au/Library/Find_a_Library/Sutherland_Library" class="btn btn-small">More Details</a>
      </div>
    </div>
  </div><!--/accordion-group-->
  <div class="accordion-group">
    <div class="accordion-heading">
      <a class="accordion-toggle" data-toggle="collapse" data-parent="#home-library-contact" href="#collapseThree">Caringbah Library</a>
    </div>
    <div id="collapseThree" class="accordion-body collapse">
      <div class="accordion-inner">
        <p>376-378 Port Hacking Road, Caringbah, NSW</p>
        <div>
          <p><span>Monday:</span> 9.30am - 8pm<br>
          <span>Tuesday:</span> 9.30am - 8pm<br>
          <span>Wednesday:</span> 9.30am - 6pm<br>
          <span>Thursday:</span> 9.30am - 8pm<br>
          <span>Friday:</span> 9.30am - 5pm<br>
          <span>Saturday:</span> 9.00am - 12pm<br>
          <span>Sunday:</span> closed</p>
          <p>Closed on Public Holidays</p>
          <a href="http://www.sutherlandshire.nsw.gov.au/Library/Find_a_Library/Caringbah_Library" class="btn btn-small">More Details</a>            
        </div>
      </div>
    </div>
  </div><!--/accordion-group-->
  <div class="accordion-group">
    <div class="accordion-heading">
      <a class="accordion-toggle" data-toggle="collapse" data-parent="#home-library-contact" href="#collapseFour">Miranda Library</a>
    </div>
    <div id="collapseFour" class="accordion-body collapse">
      <div class="accordion-inner">
        <p>31 Wandella Road, Miranda, NSW</p>
        <div>
          <p><span>Monday:</span> 9.30am - 6pm<br>
            <span>Tuesday:</span> 9.30am - 6pm<br>
            <span>Wednesday:</span> 9.30am - 5pm<br>
            <span>Thursday:</span>9.30am - 8pm<br>
            <span>Friday:</span> 9.30am - 5pm<br>
            <span>Saturday:</span> 9.00am - 12pm <br>
            <span>Sunday:</span> closed</p>
          <p>Closed on Public Holidays</p>
          <a href="http://www.sutherlandshire.nsw.gov.au/Library/Find_a_Library/Miranda_Library" class="btn btn-small">More Details</a>
        </div>
      </div>
    </div>
  </div><!--/accordion-group-->
  <div class="accordion-group">
    <div class="accordion-heading">
      <a class="accordion-toggle" data-toggle="collapse" data-parent="#home-library-contact" href="#collapseFive">Sylvania Library</a>
    </div>
    <div id="collapseFive" class="accordion-body collapse">
      <div class="accordion-inner">
        <p>124 Princes Highway, Sylvania, NSW</p>
        <div>
          <p><span>Monday:</span> 1pm - 5pm<br>
            <span>Tuesday:</span> closed<br>
            <span>Wednesday:</span> 9.30am - 1pm<br>
            <span>Thursday:</span> 1pm - 8pm<br>
            <span>Friday:</span> 9.30am - 1pm<br>
            <span>Saturday:</span> 9.00am - 12pm<br>
            <span>Sunday:</span> closed</p>
          <p>Closed on public holidays</p>
          <a href="http://www.sutherlandshire.nsw.gov.au/Library/Find_a_Library/Sylvania_Library" class="btn btn-small">More Details</a>
        </div>
      </div>
    </div>
  </div><!--/accordion-group-->
  <div class="accordion-group">
    <div class="accordion-heading">
      <a class="accordion-toggle" data-toggle="collapse" data-parent="#home-library-contact" href="#collapseSix">Menai Library</a>
    </div>
    <div id="collapseSix" class="accordion-body collapse">
      <div class="accordion-inner">
        <p>34-40 Allison Crescent, Menai, NSW</p>
        <div>
          <p><span>Monday:</span> 9.30am - 8pm<br>
            <span>Tuesday:</span> 9.30am - 8pm<br>
            <span>Wednesday:</span> 9.30am - 5pm<br>
            <span>Thursday:</span> 9.30am - 8pm<br>
            <span>Friday:</span> 9.30am - 5pm<br>
            <span>Saturday:</span> 9.00am - 12pm<br>
            <span>Sunday:</span> closed</p>
          <p>Closed on public holidays</p>
          <a href="http://www.sutherlandshire.nsw.gov.au/Library/Find_a_Library/Menai_Library" class="btn btn-small">More Details</a>
        </div>  
      </div>
    </div>
  </div><!--/accordion-group-->
  <div class="accordion-group">
    <div class="accordion-heading">
      <a class="accordion-toggle" data-toggle="collapse" data-parent="#home-library-contact" href="#collapseSeven">Engadine Library</a>
    </div>
    <div id="collapseSeven" class="accordion-body collapse">
      <div class="accordion-inner">
        <p>116E Caldarra Avenue, Engadine, NSW</p>
        <div>
          <p><span>Monday:</span> 9.30am - 8pm<br>
            <span>Tuesday:</span> 9.30am - 8pm<br>
            <span>Wednesday:</span> 9.30am - 5pm<br>
            <span>Thursday:</span> 9.30am - 8pm<br>
            <span>Friday:</span> 9.30am - 5pm<br>
            <span>Saturday:</span> 9am - 12pm<br>
            <span>Sunday:</span> closed</p>
          <p>Closed on public holidays</p>
          <a href="http://www.sutherlandshire.nsw.gov.au/Library/Find_a_Library/Engadine_Library" class="btn btn-small">More Details</a>
        </div>
      </div>
    </div>
  </div><!--/accordion-group-->
  <div class="accordion-group">
    <div class="accordion-heading">
      <a class="accordion-toggle" data-toggle="collapse" data-parent="#home-library-contact" href="#collapseEight">Bundeena Library</a>
    </div>
    <div id="collapseEight" class="accordion-body collapse">
      <div class="accordion-inner">
        <p>48R Scarborough Street, Bundeena, NSW</p>
        <div>
          <p><span>Monday:</span> 3pm - 8.30pm<br>
            <span>Tuesday:</span> closed<br>
            <span>Wednesday:</span> 3pm - 8.30pm<br>
            <span>Thursday:</span> closed<br>
            <span>Friday:</span> closed<br>
            <span>Saturday:</span> 9.00am - 12pm<br>
            <span>Sunday:</span> closed</p>
          <p>Closed on public holidays.</p>
          <a href="http://www.sutherlandshire.nsw.gov.au/Library/Find_a_Library/Bundeeena_Library" class="btn btn-small">More Details</a>
        </div>          
      </div>
    </div>
  </div><!--/accordion-group-->
</div><!--/accordion-->