<h2>Library News &amp; Events</h2>
  <div class="row">
    <div class="col-xs-6 col-sm-4 col-md-3"><p data-icon="&#xe01b;" class="rss"><a href="http://feeds.feedburner.com/SutherlandShireLibrariesWeblog" target="_blank" title="right-click and copy link shortcut">Library News</a></p></div>
    <div class="col-xs-6 col-sm-4 col-md-3"><p data-icon="&#xe01b;" class="rss"><a href="/feed.rss?listID=c3bbe30e-9fe8-482d-8d26-0729e5fccf37">Library Events</a></p></div>
    <div class="col-xs-6 col-sm-4 col-md-3"><p data-icon="&#xe01b;" class="rss"><a href="/feed.rss?listID=b38ed14a-aa5a-4892-97bf-89fbc8f67a05">HSC Lectures</a></p></div>
  </div>

<h2>New Items Lists</h2>
  <div class="row">
    <div class="col-xs-6 col-sm-4 col-md-3"><!-- fiction -->
      <h3>Fiction</h3>
      <p><span data-icon="&#xe01b;" class="rss"><a href="http://webpac.sutherlandshire.nsw.gov.au/feeds/newadultfiction.xml">New Adult Fiction</a></span></p>
      <p><span data-icon="&#xe01b;" class="rss"><a href="http://webpac.sutherlandshire.nsw.gov.au/feeds/newgraphicnovels.xml">New Graphic Novels</a></span></p>
      <p><span data-icon="&#xe01b;" class="rss"><a href="http://webpac.sutherlandshire.nsw.gov.au/feeds/newmillsboon.xml">New Mills &amp; Boon</a></span></p>
      <p><span data-icon="&#xe01b;" class="rss"><a href="http://webpac.sutherlandshire.nsw.gov.au/feeds/newlargeprint.xml">New Large Print</a></span></p>
    </div>
    <div class="col-xs-6 col-sm-4 col-md-3"><!-- non-fiction -->
      <h3>Non-Fiction</h3>
      <p><span data-icon="&#xe01b;" class="rss"><a href="http://webpac.sutherlandshire.nsw.gov.au/feeds/newbiographies.xml">New Biographies</a></span></p>
      <p><span data-icon="&#xe01b;" class="rss"><a href="http://webpac.sutherlandshire.nsw.gov.au/feeds/newcookery.xml">New Cookery</a></span></p>
      <p><span data-icon="&#xe01b;" class="rss"><a href="http://webpac.sutherlandshire.nsw.gov.au/feeds/newtravel.xml">New Travel</a></span></p>
      <p><span data-icon="&#xe01b;" class="rss"><a href="http://webpac.sutherlandshire.nsw.gov.au/feeds/newscience.xml">New Science</a></span></p>
      <p><span data-icon="&#xe01b;" class="rss"><a href="http://webpac.sutherlandshire.nsw.gov.au/feeds/newsport.xml">New Sport</a></span></p>
    </div>
    <div class="col-xs-6 col-sm-4 col-md-3"><!-- kids -->
      <h3>Children</h3>
      <p><span data-icon="&#xe01b;" class="rss"><a href="http://webpac.sutherlandshire.nsw.gov.au/feeds/newjuniorfiction.xml">New Junior Fiction</a></span></p>
      <p><span data-icon="&#xe01b;" class="rss"><a href="http://webpac.sutherlandshire.nsw.gov.au/feeds/newjuniordvds.xml">New Junior DVDs</a></span></p>
      <p><span data-icon="&#xe01b;" class="rss"><a href="http://webpac.sutherlandshire.nsw.gov.au/feeds/newyafiction.xml">New Young Adult Fiction</a></span></p>
    </div>
    <div class="col-xs-6 col-sm-4 col-md-3"><!-- audio-visual -->
      <h3>Audio-Visual</h3>
      <p><span data-icon="&#xe01b;" class="rss"><a href="http://webpac.sutherlandshire.nsw.gov.au/feeds/newdvds.xml">New DVDs</a></span></p>
      <p><span data-icon="&#xe01b;" class="rss"><a href="http://webpac.sutherlandshire.nsw.gov.au/feeds/newcds.xml">New CDs</a></span></p>
    </div>
  </div>
