    <section id="social" class="social">
      <div class="container-fluid page-wrap">
        <div class="row">
          <div class="contact col-sm-6">
            General Enquiries<br />
            <span class="phone">p: 02 9710 0351</span>
            <span class="email">e: <a href="mailto:library@ssc.nsw.gov.au">library@ssc.nsw.gov.au</a></span>
          </div>
          <div class="socmedia-buttons col-sm-6">
            <span class="stay-in-touch">Stay in touch</span>
            <a class="btn email-btn btn-info tool-tip js-ga-tracking" data-ga-category="social-button" data-ga-action="click" data-ga-label="email" href="http://eepurl.com/M09RH" data-toggle="tooltip" data-trigger="hover focus" data-placement="top" title="subscribe to our newletters"><i data-icon="&#xe02a;"></i> Email</a>
            <a class="facebook-btn socmedia-btn tool-tip js-ga-tracking" data-ga-category="social-button" data-ga-action="click" data-ga-label="facebook" href="http://facebook.com/sutherlandshirelibraries" data-toggle="tooltip" data-trigger="hover focus" data-placement="top" title="Like us on Facebook"> <i data-icon="&#xe020;"></i></a>
            <a class="rss-btn socmedia-btn tool-tip js-ga-tracking" data-ga-category="social-button" data-ga-action="click" data-ga-label="rss" href="/rss-list.html" data-toggle="tooltip" data-trigger="hover focus" title="view RSS feeds"><i data-icon="&#xe01b;"></i></a>
            <a class="vimeo-btn socmedia-btn tool-tip js-ga-tracking" data-ga-category="social-button" data-ga-action="click" data-ga-label="vimeo" href="http://vimeo.com/suthlib" data-toggle="tooltip" data-trigger="hover focus" title="Follow us on Vimeo"><i data-icon="&#xe022;"></i></a>
            <a class="twitter-btn socmedia-btn tool-tip js-ga-tracking" data-ga-category="social-button" data-ga-action="click" data-ga-label="twitter" href="http://twitter.com/suthlib" data-toggle="tooltip" data-trigger="hover focus" title="Follow us on Twitter"><i data-icon="&#xe01f;"></i></a>
            <a class="instagram-btn socmedia-btn tool-tip js-ga-tracking" data-ga-category="social-button" data-ga-action="click" data-ga-label="instagram" href="https://instagram.com/sutherlandshirelibraries" data-toggle="tooltip" data-trigger="hover focus" title="Follow us on Instagram"><i data-icon="&#xe606;"></i></a>

          </div><!-- /socialmedia-buttons -->
        </div>
      </div><!-- /container -->
    </section><!-- /social -->
