<div id="zinioTabs">

  <!-- Nav tabs -->
  <ul class="nav nav-tabs" role="tablist">
    <li role="presentation" class="active">
      <a href="#iOS" aria-controls="iOS" role="tab" data-toggle="tab">
        <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="16" height="16" viewBox="0 0 48 48">
            <path fill="#333333" d="M37.101 25.504c-0.061-6.079 4.957-8.994 5.182-9.139-2.82-4.126-7.212-4.691-8.777-4.756-3.738-0.378-7.294 2.201-9.191 2.201-1.892 0-4.82-2.145-7.92-2.088-4.074 0.061-7.831 2.369-9.929 6.018-4.233 7.345-1.084 18.227 3.042 24.184 2.016 2.916 4.42 6.191 7.576 6.074 3.039-0.121 4.189-1.967 7.864-1.967s4.708 1.967 7.924 1.906c3.271-0.061 5.343-2.972 7.345-5.897 2.315-3.383 3.268-6.658 3.485-6.826-0.073-0.033-6.378-2.449-6.441-9.709zM31.058 7.665c1.675-2.048 2.806-4.852 2.497-7.665-2.413 0.098-5.338 1.607-7.069 3.635-1.554 1.799-2.913 4.67-2.549 7.427 2.694 0.21 5.444-1.369 7.12-3.397z"></path>
          </svg>
        <span class="hidden-xs">iPad</span>
      </a>
    </li>
    <li role="presentation">
      <a href="#android" aria-controls="android" role="tab" data-toggle="tab">
        <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="16" height="16" viewBox="0 0 48 48">
          <path fill="#A4C439" d="M12 36c0 1.1 0.9 2 2 2h2v7c0 1.66 1.34 3 3 3s3-1.34 3-3v-7h4v7c0 1.66 1.34 3 3 3s3-1.34 3-3v-7h2c1.1 0 2-0.9 2-2v-20h-24v20zM7 16c-1.66 0-3 1.34-3 3v14c0 1.66 1.34 3 3 3s3-1.34 3-3v-14c0-1.66-1.34-3-3-3zM41 16c-1.66 0-3 1.34-3 3v14c0 1.66 1.34 3 3 3s3-1.34 3-3v-14c0-1.66-1.34-3-3-3zM31.060 4.48l2.61-2.61c0.39-0.39 0.39-1.020 0-1.41s-1.020-0.39-1.41 0l-2.96 2.95c-1.6-0.79-3.39-1.25-5.3-1.25-1.92 0-3.72 0.46-5.33 1.26l-2.97-2.97c-0.39-0.39-1.020-0.39-1.41 0s-0.39 1.020 0 1.41l2.62 2.62c-2.97 2.19-4.91 5.71-4.91 9.68h24c0-3.98-1.95-7.5-4.94-9.68zM20 10h-2v-2h2v2zM30 10h-2v-2h2v2z"></path>
        </svg>
        <span class="hidden-xs">Android</span>
      </a>
    </li>
    <li role="presentation">
      <a href="#windows" aria-controls="windows" role="tab" data-toggle="tab">
        <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="16" height="16" viewBox="0 0 48 48">
          <path fill="#0078D7" d="M0.016 24l-0.016-14.628 18-2.444v17.073zM21 6.491l23.994-3.491v21h-23.994zM45 27l-0.006 21-23.994-3.376v-17.624zM18 44.242l-17.985-2.465-0.001-14.777h17.986z"></path>
        </svg>
        <span class="hidden-xs">Windows 10</span></a>
    </li>
    <li role="presentation">
      <a href="#desktop" aria-controls="desktop" role="tab" data-toggle="tab">
        <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="16" height="16" viewBox="0 0 48 48">
          <path fill="#777777" d="M42 4h-36c-2.21 0-4 1.79-4 4v24c0 2.21 1.79 4 4 4h14l-4 6v2h16v-2l-4-6h14c2.21 0 4-1.79 4-4v-24c0-2.21-1.79-4-4-4zM42 28h-36v-20h36v20z"></path>
        </svg>
        <span class="hidden-xs">Desktop</span></a>
    </li>
  </ul>

  <!-- Tab panes -->
  <div class="tab-content">
    <div role="tabpanel" class="tab-pane active" id="iOS">
      <h3>Using Zinio on iPads</h3>
      <p>Watch this video overview showing how to checkout, read and download digital magazines from the Library collection using an iOS device, iPads, iPhones and iPods.</p>
      <div class="embed-responsive embed-responsive-16by9">
        <iframe class="embed-responsive-item" src="https://player.vimeo.com/video/118951854" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
      </div>
      <br>
      <p>
        <a class="btn btn-default" title="iPads, iPhones and iPods" href="https://itunes.apple.com/us/app/zinio-for-libraries/id952437054?mt=8">
          <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="16" height="16" viewBox="0 0 48 48">
            <path fill="#333333" d="M37.101 25.504c-0.061-6.079 4.957-8.994 5.182-9.139-2.82-4.126-7.212-4.691-8.777-4.756-3.738-0.378-7.294 2.201-9.191 2.201-1.892 0-4.82-2.145-7.92-2.088-4.074 0.061-7.831 2.369-9.929 6.018-4.233 7.345-1.084 18.227 3.042 24.184 2.016 2.916 4.42 6.191 7.576 6.074 3.039-0.121 4.189-1.967 7.864-1.967s4.708 1.967 7.924 1.906c3.271-0.061 5.343-2.972 7.345-5.897 2.315-3.383 3.268-6.658 3.485-6.826-0.073-0.033-6.378-2.449-6.441-9.709zM31.058 7.665c1.675-2.048 2.806-4.852 2.497-7.665-2.413 0.098-5.338 1.607-7.069 3.635-1.554 1.799-2.913 4.67-2.549 7.427 2.694 0.21 5.444-1.369 7.12-3.397z"></path>
          </svg>
          &nbsp;Get the App
        </a>
      </p>
      <p>Download the User Guide for instructions on setting up and using Zinio for Libraries.<br>
        <span data-icon="&#xe600;">&nbsp;</span><a title="PDF download: iOS user guide" href="https://www.rbdigital.com/media/Zinio%20-%20iOS%20Mobile.pdf">iOS User Guide</a></p>
    </div> <!-- /iOS -->

    <div role="tabpanel" class="tab-pane" id="android">
      <h3>Using Zinio on Android Tablets</h3>
      <p>Watch this video overview showing how to checkout, read and download digital magazines from the Library collection using Android tablets and phones.</p>
      <div class="embed-responsive embed-responsive-16by9">
        <iframe class="embed-responsive-item" src="https://player.vimeo.com/video/123338652" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
      </div>
      <br>
      <p>
        <a class="btn btn-default" title="Android tablets and phones" href="https://play.google.com/store/apps/details?id=com.zinio.mobile.android.reader">
          <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="16" height="16" viewBox="0 0 48 48">
            <path fill="#333333" d="M12 36c0 1.1 0.9 2 2 2h2v7c0 1.66 1.34 3 3 3s3-1.34 3-3v-7h4v7c0 1.66 1.34 3 3 3s3-1.34 3-3v-7h2c1.1 0 2-0.9 2-2v-20h-24v20zM7 16c-1.66 0-3 1.34-3 3v14c0 1.66 1.34 3 3 3s3-1.34 3-3v-14c0-1.66-1.34-3-3-3zM41 16c-1.66 0-3 1.34-3 3v14c0 1.66 1.34 3 3 3s3-1.34 3-3v-14c0-1.66-1.34-3-3-3zM31.060 4.48l2.61-2.61c0.39-0.39 0.39-1.020 0-1.41s-1.020-0.39-1.41 0l-2.96 2.95c-1.6-0.79-3.39-1.25-5.3-1.25-1.92 0-3.72 0.46-5.33 1.26l-2.97-2.97c-0.39-0.39-1.020-0.39-1.41 0s-0.39 1.020 0 1.41l2.62 2.62c-2.97 2.19-4.91 5.71-4.91 9.68h24c0-3.98-1.95-7.5-4.94-9.68zM20 10h-2v-2h2v2zM30 10h-2v-2h2v2z"></path>
          </svg>
          &nbsp;Get the App
        </a>
      </p>
      <p>Download the User Guide for instructions on setting up and using Zinio for Libraries.<br>
        <span data-icon="&#xe600;">&nbsp;</span><a title="PDF download: Android user guide" href="https://www.rbdigital.com/media/Zinio%20-%20Android.pdf">Android User Guide</a></p>
    </div><!-- /android -->

    <div role="tabpanel" class="tab-pane" id="windows">
      <h3>Using Zinio on Windows 10 Tablets</h3>
      <p>Using Zinio for Libraries with Windows 8 / 10 devices involves a little more set up than with other platforms. In addition to your Zinio for Libraries account, you will require a Zinio.com account with the same email address as your Zinio for Libraries account.</p>
      <h4>Setting up the Zinio App for Offline Reading</h4>
      <ol>
        <li>If you don't already have one, create a Zinio.com account using the same email address as your Zinio for Libraries account.<br>
          <a class="btn btn-default" href="https://au.zinio.com" target="_blank">Sign up at Zinio.com</a>
        </li>
        <li>Download and install the Zinio App from the Microsoft App Store. Sign in to the app with your newly created credentials.<br>
          <strong>Note</strong>: Windows 8 users may need to upgrade to Windows 10 to install the app.<br>
          <a class="btn btn-default" title="Windows 10 tablets" href="http://apps.microsoft.com/windows/en-US/app/zinio/790e1b04-01f7-4c06-a0d6-07d8501b53b6" target="_blank">
            <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="16" height="16" viewBox="0 0 48 48">
              <path fill="#333333" d="M0.016 24l-0.016-14.628 18-2.444v17.073zM21 6.491l23.994-3.491v21h-23.994zM45 27l-0.006 21-23.994-3.376v-17.624zM18 44.242l-17.985-2.465-0.001-14.777h17.986z"></path>
            </svg>
            &nbsp;Get the App
          </a>
        </li>
        <li>Add magazines to your collection from the Zinio for Libraries website using a web browser on your device to view and checkout individual issues.<br>
          <a href="https://www.rbdigital.com/sutherland/zinio" class="btn btn-default">Choose Magazines</a>
        </li>
        <li>Switch to the Zinio App after checking out magazines to download them to the app for offline reading.</li>
      </ol>
      <div class="alert alert-block alert-info">
        <strong data-icon="&#xe023;">Reading Online in the Browser</strong>
        <p>Windows 10 users can stream Zinio digital magazines in the browser from the Zinio for Libraries website without installing the Zinio App for Windows.</p>
        <p><a id="switchToDesktop" class="btn btn-primary btn-xs">Show Desktop Instructions</a></p>
      </div>
    </div><!-- /windows -->

    <div role="tabpanel" class="tab-pane" id="desktop">
      <h3>Using Zinio on Desktops or Laptops</h3>
      <p>Watch this video overview showing how to checkout and read digital magazines from the Library collection in your web browser on PC and Mac desktop and laptop computers.</p>
      <div class="embed-responsive embed-responsive-16by9">
        <iframe class="embed-responsive-item" src="https://player.vimeo.com/video/118833746" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
      </div>
      <div class="alert alert-block alert-info">
        <strong data-icon="&#xe023;">Internet Connection Required</strong>
        <p>You must be connected to the Internet to read magazines in the browser. The desktop experience does not offer an offline reading option.</p>
      </div>
      <p>Download the User Guide for instructions on using Zinio for Libraries.<br>
        <span data-icon="&#xe600;">&nbsp;</span><a title="PDF download: Desktop user guide" href="https://www.rbdigital.com/media/Zinio%20-%20Desktop%20-%20Browse%20-%20Check%20Out%20-%20Read%202015.pdf">Desktop User Guide</a></p>
    </div><!-- /desktop -->
  </div>

</div>
