<div id="tabs">
  <!-- Nav tabs -->
  <ul class="nav nav-tabs" role="tablist">
    <li role="presentation" class="active">
      <a href="#chooser" aria-controls="chooser" role="tab" data-toggle="tab">Choose a Database</a>
    </li>
    <li role="presentation">
      <a href="#quicksearch" aria-controls="quicksearch" role="tab" data-toggle="tab">Quick Search</a>
    </li>
  </ul>
  <!-- Tab panes -->
  <div class="tab-content">
    <div role="tabpanel" class="tab-pane active" id="chooser">
      <p>Some content</p>
    </div><!-- /chooser -->
    <div role="tabpanel" class="tab-pane" id="quicksearch">
      <p>Search across all available magazines, academic journals and newspapers in Sutherland Shire Libraries
        research databases.</p>
      <div class="form-horizontal">
        <div class="form-group">
          <label for="quicksearchInput" class="sr-only">Enter Search Terms</label>
          <p class="col-sm-8">
            <input type="text" id="quicksearchInput" class="form-control" placeholder="enter keywords">
          </p>
          <p class="col-sm-4"><a id="quickSearchBtn" class="btn btn-primary btn-block">Search</a></p>
        </div>
      </div><!-- /form-horizontal -->
    </div><!-- /quicksearch -->
  </div><!-- /tab-content -->
</div><!-- /tabs -->