<div id="zinioTabs">
        <!-- Nav tabs -->
        <ul class="nav nav-tabs" role="tablist">
          <li role="presentation" class="active">
            <a href="#iOS" aria-controls="iOS" role="tab" data-toggle="tab">Mobile</a>
          </li>
          <li role="presentation">
            <a href="#desktop" aria-controls="desktop" role="tab" data-toggle="tab">Desktop</a>
          </li>
        </ul>
        <!-- Tab panes -->
        <div class="tab-content">
          <div role="tabpanel" class="tab-pane active" id="iOS">
            <h3>Using RB Digital on Tablets &amp; Smartphones</h3>
            <p>Watch this video overview showing how to checkout, read and download digital magazines from the Library collection using an iOS or Android device.</p>
            <div class="embed-responsive embed-responsive-16by9">
              <iframe class="embed-responsive-item" src="https://player.vimeo.com/video/221901131"></iframe>
            </div>
            <div class="embed-responsive embed-responsive-16by9 hidden">
              <iframe class="embed-responsive-item" src="https://player.vimeo.com/video/222434554"></iframe>
            </div>
            <h3>Get the App</h3>
            <p>
              <a class="btn btn-default apple" title="Apple iPad and iPhone" href="http://itunes.apple.com/us/app/oneclickdigital/id515311743" target="_blank">
                <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="16" height="16" viewBox="0 0 48 48">
<path fill="#333333" d="M37.101 25.504c-0.061-6.079 4.957-8.994 5.182-9.139-2.82-4.126-7.212-4.691-8.777-4.756-3.738-0.378-7.294 2.201-9.191 2.201-1.892 0-4.82-2.145-7.92-2.088-4.074 0.061-7.831 2.369-9.929 6.018-4.233 7.345-1.084 18.227 3.042 24.184 2.016 2.916 4.42 6.191 7.576 6.074 3.039-0.121 4.189-1.967 7.864-1.967s4.708 1.967 7.924 1.906c3.271-0.061 5.343-2.972 7.345-5.897 2.315-3.383 3.268-6.658 3.485-6.826-0.073-0.033-6.378-2.449-6.441-9.709zM31.058 7.665c1.675-2.048 2.806-4.852 2.497-7.665-2.413 0.098-5.338 1.607-7.069 3.635-1.554 1.799-2.913 4.67-2.549 7.427 2.694 0.21 5.444-1.369 7.12-3.397z"></path>
</svg> iOS
              </a>
              &nbsp;&nbsp;
              <a class="btn btn-default android" title="Android tablets and phones" href="https://play.google.com/store/apps/details?id=com.ocd" target="_blank">
                <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="16" height="16" viewBox="0 0 48 48">
<path fill="#333333" d="M12 36c0 1.1 0.9 2 2 2h2v7c0 1.66 1.34 3 3 3s3-1.34 3-3v-7h4v7c0 1.66 1.34 3 3 3s3-1.34 3-3v-7h2c1.1 0 2-0.9 2-2v-20h-24v20zM7 16c-1.66 0-3 1.34-3 3v14c0 1.66 1.34 3 3 3s3-1.34 3-3v-14c0-1.66-1.34-3-3-3zM41 16c-1.66 0-3 1.34-3 3v14c0 1.66 1.34 3 3 3s3-1.34 3-3v-14c0-1.66-1.34-3-3-3zM31.060 4.48l2.61-2.61c0.39-0.39 0.39-1.020 0-1.41s-1.020-0.39-1.41 0l-2.96 2.95c-1.6-0.79-3.39-1.25-5.3-1.25-1.92 0-3.72 0.46-5.33 1.26l-2.97-2.97c-0.39-0.39-1.020-0.39-1.41 0s-0.39 1.020 0 1.41l2.62 2.62c-2.97 2.19-4.91 5.71-4.91 9.68h24c0-3.98-1.95-7.5-4.94-9.68zM20 10h-2v-2h2v2zM30 10h-2v-2h2v2z"></path>
</svg> Android
              </a>
            </p>
            <p class="alert alert-block alert-info">
              <strong data-icon="">Current Zinio for Libraries App users</strong>: There is a more detailed video showing the difference between the new RB Digital app and the old Zinio for Libraries app. <a id="rbSideBySide"
                class="btn btn-primary btn-xs">Switch Videos</a></p>
            <!--
<p>Download the User Guide for instructions on setting up and using Zinio for Libraries.<br>
<span data-icon="">&nbsp;</span><a title="PDF download: iOS user guide" href="https://www.rbdigital.com/media/Zinio%20-%20iOS%20Mobile.pdf">iOS User Guide</a></p>
-->
          </div>
          <!-- /iOS -->
          <div role="tabpanel" class="tab-pane" id="desktop">
            <h3>Using RB Digital on Desktops &amp; Laptops</h3>
            <p>Watch this video overview showing how to checkout and read digital magazines from the Library collection in your web browser on PC and Mac desktop and laptop computers.</p>
            <div class="embed-responsive embed-responsive-16by9">
              <iframe class="embed-responsive-item" src="https://player.vimeo.com/video/118833746"></iframe>
            </div>
            <div class="alert alert-block alert-info">
              <strong data-icon="">Internet Connection Required</strong>
              <p>You must be connected to the Internet to read magazines in the browser. The desktop experience does not offer an offline reading option.</p>
            </div>
            <p>Download the User Guide for instructions on using RB Digital Magazines.<br>
              <span data-icon="">&nbsp;</span><a title="PDF download: Desktop user guide" href="https://www.rbdigital.com/media/Zinio%20-%20Desktop%20-%20Browse%20-%20Check%20Out%20-%20Read%202015.pdf">Desktop User Guide</a></p>
          </div><!-- /desktop -->
        </div><!-- /tab-content -->
      </div><!-- /zinio-tabs -->
