<div id="troubleshooting">

  <p class="lead">Having trouble accessing Borrowbox?</p>
  <p>When you are ready, click the Start Troubleshooting button below. Read the instructions
    carefully and follow the process described. When you have completed each step return here
    and answer the question for the next troubleshooting step.</p>
  <p><span id="startTS" class="btn btn-success">Start Troubleshooting</span></p>

  <div id="step1" class="question hidden fade">
    <div class="well">
      <p><a href="https://fe.bolindadigital.com/wldcs_bol_fo/b2i/login.html?b2bSite=4314&targetSite=mainPage.html&fromPage=1" target="_blank">Open Borrowbox in a web browser</a>
        (<span data-icon="&#xe023;">not the App</span>) and try to login using your barcode
          number from your library card as the Library ID and the last 4 digits of the barcode
          as your PIN.</p>
        <p>Were you successful?</p>
        <p>
          <span class="btn btn-success">Yes</span>
          <span class="btn btn-danger">No</span>
        </p>
    </div>
  </div>
  <!-- /step1 -->

</div>
